/* modules */

/* news */
.news
  &__img
    position: relative
    overflow: hidden
    margin-bottom: 20px
    box-shadow: 0 0 3px $color-red inset
    background-color: $color-red
    &::before
      content: ''
      position: absolute
      z-index: 20
      top: 0
      left: 0
      width: 100%
      height: 3px
      background-color: $color-red
    img
      transform: scale(1)
      position: relative
      z-index: 10
      transition: all 0.3s linear
      opacity: 1
    &:hover
      img
        transform: scale(1.1)
        will-change: transform
        opacity: 0.7

  &__block
    font-size: rem(13)
    margin-bottom: 55px
    h2
      margin-bottom: 7px
    p
      margin-bottom: 0

  &__time
    margin-bottom: 10px
    font-size: rem(10)
    strong
      font-size: rem(12)

/**/
.contacts
  &__info
    height: auto
    background-color: $color-lightgray
    position: relative
    z-index: 20
    padding: 50px 10px

    &__body
      max-width: 270px
      margin: 0 auto

  &__bottom
    background-color: $color-darkgray
    min-height: 150px
    top: -20px
    margin-bottom: -20px
    position: relative
    z-index: 10

  &__map
    position: relative
    padding-bottom: 710px
    width: 100%

    iframe
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%

  &__block
    display: table
    font-family: $font-dejavu-cond-book
    &>div
      display: table-cell
      vertical-align: top
      &:not(:first-child)
        padding-left: 15px
    font-size: rem(13)
    h4, .h4
      margin-bottom: 5px
    p
      margin: 0

  &__logo
    max-width: 200px
    margin: 90px auto 0

  &__form
    position: absolute
    width: 100%
    z-index: 10
    height: 1px
    // padding-top: 90px
    &>.container
      height: 1px
    &__row
      height: 1px
      &>div
        height: 1px

/**/
.about
  margin-bottom: 65px
  position: relative
  z-index: 10
  &>div
    .about__block
      margin-bottom: 25px

  &__block
    background:
      color: $color-red
      position: center
      // size: cover
      repeat: no-repeat
      image: url('../img/about-pattern.png')
    color: $color-white
    text-align: center
    font-family: $font-sportword
    font-size: rem(15)
    text-transform: uppercase
    padding: 40px 10px 10px 10px
    position: relative
    width: 263px
    height: 263px
    margin-left: auto
    margin-right: auto
    position: relative

    &::after
      content: ''
      position: absolute
      top: 7px
      left: 7px
      right: 7px
      bottom: 7px
      border: 1px solid #e1ccc7

    img
      max-height: 125px
      width: auto
      margin-bottom: 20px
    p
      margin: 0

/**/
.prices
  .container
    width: auto
    max-width: 1170px
  &__header
    text-align: center
    &--last
      margin-top: 25px

  &__block
    position: relative
    font-size: rem(12)
    text-align: center
    margin-left: -15px
    margin-right: -15px
    padding: 10px 15px 20px 15px
    color: $color-black
    transition: background 0.5s ease
    &:hover
      background-color: $color-white !important
      .link
        background-color: rgba($color-white,.60)
        .btn
          opacity: 1
    p
      margin: 0
    .link
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 50
      display: block
      transition: background 0.5s ease
      // background-color: rgba(pink,.60)
      .btn
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        opacity: 0
    &:nth-child(even)
      background-color: $color-gray

  &__title
    color: $color-red
    font-family: $font-sportword
    font-size: rem(14)
    text-transform: uppercase

  &__img
    max-width: 220px
    max-height: 105px
    margin-left: auto
    margin-right: auto

.price
  font-size: rem(40)
  font-family: $font-sportword
  color: $color-red

/**/
.content__auto
  background-color: $color-white
  padding-top: 65px
  padding-bottom: 65px

.auto
  &__body
    max-width: 470px
    margin: 0 auto
  &__img
    margin-bottom: 25px
    img
      margin-left: auto
      margin-right: auto

  &__info
    border-top: 1px solid $color-lightgray
    color: #424242
    font-family: $font-dejavu-cond-bold
    margin: 0 20px 35px 20px
    text-transform: uppercase
    font-size: rem(10)
    +clearfix
    &>div
      height: 30px
      float: left
      width: 50%
      text-align: left
      border-bottom: 1px solid $color-lightgray
      line-height: 31px
      padding-left: 14px
      &:nth-child(1), &:nth-child(3)
        border-right: 1px solid $color-lightgray
        padding-left: 30px

    .icon
      vertical-align: -3px
      margin-right: 7px
      g
        fill: $color-red
        transition: all 0.5s linear
        // fill: #cfcfcf

  &__title
    text-align: center

  &__price
    text-align: center
    font-size: rem(16)
    margin-bottom: 20px
    font-family: $font-dejavu-serif-bold
    strong
      font-size: rem(28)
      color: $color-red
      font-family: $font-sportword
      display: inline-block
      margin-left: 10px
      margin-right: 3px
    span
      font-size: rem(12)
      color: #9d9d9d
      font-family: $font-dejavu-serif-book
    &--white
      strong
        color: $color-white
      span
        color: $color-white

/**/
.autopark
  &__top
    background-color: $color-gray
    .container
      // background-color: $color-lightgray


  &__bottom
    background-color: $color-white
    margin-bottom: -20px
    padding-top: 50px
    padding-bottom: 75px

  &__block
    // background-color: pink
    padding: 20px 10px 25px 10px
    margin: 0 -15px
    text-align: center
    color: $color-black
    font-size: rem(12)
    transition: background 0.5s linear
    // border: 1px solid pink
    &:hover
      background-color: $color-lightgray
      .auto__info .icon g
        fill: $color-red

    .auto__info
      margin: 20px auto 0 auto
      max-width: 230px
      .icon
        g
          fill: #cfcfcf
    h2
      font-size: rem(21)
      margin-bottom: 10px
    .btn--more
      margin-bottom: 15px

  &__img
    margin-bottom: 25px
    padding: 0 25px
    img
      text-align: center
      margin-left: auto
      margin-right: auto
      max-height: 225px

  &__select
    background-color: $color-lightgray
    position: relative
    z-index: 100
    margin-bottom: -20px
    &__mobile
      padding: 25px 0
      display: block
      position: relative
    &__desctop
      display: none
      padding: 25px 0
      position: relative
      &__body
        display: table
        height: 100px
        width: 100%
        &>div
          display: table-cell
          vertical-align: middle
          &:first-child
            border-right: 1px solid $color-white
            width: 90px
            text-align: center
        ul
          margin: 0
          padding: 0
          display: table
          width: 100%
          &>li
            margin: 0
            list-style: none
            display: table-cell
            vertical-align: middle
            width: calc(100% / 7)
            &>a
              display: block
              height: 100px
              text-align: center
              text-decoration: none
              font-family: $font-sportword
              text-transform: uppercase
              padding-top: 37px
              &:hover
                svg
                  path
                    fill: $color-red
              small
                font-size: rem(12)
                opacity: 0
              svg
                display: block
                margin: 0 auto 5px !important
                height: 25px
                path
                  transition: color 0.3s ease
                  fill: #cfcfcf
            &.active
              &>a
                small
                  opacity: 1
                svg
                  path
                    fill: $color-red

            &:not(:last-child)
              &>a
                border-right: 1px solid $color-white

    &__top
      height: 100px
      display: table
      width: 100%
      &>div
        display: table-cell
        vertical-align: middle
        padding: 0 15px
        &:first-child
          border-right: 1px solid $color-white
          width: 90px
          text-align: center
        &:last-child
          width: 70px
          text-align: center
      .span
        color: #cfcfcf
        &--car
          display: none !important
      svg
        path
          transition: color 0.3s ease
          fill: #cfcfcf

    &__bottom
      position: absolute
      width: 100%
      background-color: $color-lightgray
      border-top: 1px solid $color-white
      padding: 10px 0
      top: 150px
      opacity: 0
      display: none
      animation: menuDropdown 0.5s ease
      &.active
        display: block
        opacity: 1
      &>ul
        margin: 0
        padding: 0
        &>li
          margin: 0
          list-style: none
          &>a
            display: block
            color: #cfcfcf
            text-decoration: none
            padding: 10px 0px 10px 20px
          &:hover
            &>a
              color: $color-red !important
              svg
                path
                  fill: $color-red !important
          &.selected
            &>a
              color: $color-red !important
              background-color: $color-gray
              .ion-android-checkbox-outline-blank
                display: none
              .ion-android-checkbox-outline
                display: block
              svg
                path
                  fill: $color-red !important

    &__checkbox
      i
        font-size: rem(40)
        display: none
        line-height: 0
        &.ion-android-checkbox-outline-blank
          display: inline-block

      svg
        path
          transition: color 0.3s ease
          fill: #cfcfcf

    .span
      display: inline-block
      vertical-align: middle
      &--checkbox
        margin-right: 15px
      &--car
        width: 70px
        text-align: center
        margin-right: 15px
      &--info
        font-size: rem(10)
        font-family: $font-sportword
        text-transform: uppercase
        small
          display: block
          line-height: 1
          font-size: rem(10)
        strong
          font-size: rem(27)
          display: block
          line-height: 1
          font-family: $font-sportword
          margin-top: -3px

    &__filter
      font-size: rem(46)
      color: $color-darkgray
      text-decoration: none
      &.active
        color: $color-red

    &__all-filter
      font-size: rem(10)
      font-family: $font-sportword
      text-transform: uppercase
      text-decoration: none
      display: block
      small
        display: block
        line-height: 1
        font-size: rem(10)
      strong
        font-size: rem(27)
        display: block
        line-height: 1
        font-family: $font-sportword
        margin-top: -3px

@keyframes menuDropdown
  0%
    opacity: 0
  100%
    opacity: 1

.icon-select-car-1
  width: 70px
  height: 24px
  margin-top: 6px
.icon-select-car-2
  width: 70px
  height: 25px
  margin-top: 6px
.icon-select-car-3
  width: 70px
  height: 21px
  margin-top: 10px
.icon-select-car-4
  width: 70px
  height: 25px
  margin-top: 5px
.icon-select-car-5
  width: 65px
  height: 28px
  margin-top: 4px
.icon-select-car-6
  width: 65px
  height: 24px
  margin-top: 5px
.icon-select-car-7
  width: 55px
  height: 24px
  margin-top: 7px

/**/
.popup
  padding: 55px 20px 20px 20px
  position: relative
  margin: 20px auto
  width: auto
  max-width: 1170px
  background: $color-white

  .mfp-close.popup__close
    font-size: rem(35)
    color: $color-red
    height: 60px
    line-height: 60px
    width: 60px

  &__order
    padding-bottom: 85px
    text-align: center
    &>div
      max-width: 975px
      margin: 0 auto

    h2
      font-size: rem(21)
      margin-bottom: 10px

    &__img
      margin-bottom: 30px
      img
        margin-left: auto
        margin-right: auto
        max-width: 650px
        width: 100%

    &__info
      font-size: rem(12)
      p
        margin: 0

    &__bottom
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      background-color: #d0d0d0
      .auto__info
        margin: 0 auto
        max-width: 230px
        border-color: #d0d0d0
        &>div
          border-color: #dadada
        .icon g
          fill: #939393
        .span
          display: none
          line-height: 1
        .table
          // margin: 0 auto
          &>div
            text-align: left

    &__form
      padding-top: 20px

  &__header
    @extend .content__head
    .h1, h1
      font-size: rem(30)

.table
  display: table
  &>div
    display: table-cell
    vertical-align: middle

/**/
.car-list
  +clearfix
  &>div
    width: 100%
    float: none
  &__human
    position: absolute
    // display: none
    left: 15px
    bottom: 0
    max-height: 80%
    transform: translateY(15px)
    opacity: 0
    transition: transform 1s ease, opacity 1s ease
    will-change: transform

  &__smoke
    position: absolute
    bottom: 135px
    left: 95px
    width: 127px
    // background-color: rgba(pink,0.2)
    opacity: 0
    transform: translateY(-2px)
    transition: transform 1s ease, opacity 1s ease
    will-change: transform

  &__auto
    position: absolute
    right: 0
    bottom: 0
    img
      max-width: 100%
      height: auto
      display: block
      filter: grayscale(100%)
      transition: filter 0.7s ease-in-out
      max-width: 100%
      max-height: 175px

  &__block
    width: 100%
    height: 240px
    position: relative
    transition: background 0.3s linear
    overflow: hidden
    background:
      color: $color-darkgray
      position: top center
      repeat: no-repeat
      size: cover
      image: url('../img/car-list/car-list-background.jpg')
    &:hover
      background:
        image: url('../img/car-list/car-list-background-hover.jpg')
      .car-list__auto
        filter: grayscale(0%)
      .car-list__human
        // animation: human 1s ease-in forwards normal
        transform: translateY(0px)
        opacity: 1
      .car-list__smoke
        opacity: 1
        transition-delay: 1s
        transform: translateY(0px)
      .car-list__title__bottom
        transform: translateY(0%)
        transition-delay: 0.5s

  &__title
    position: absolute
    right: 0
    top: 0
    z-index: 50

    &__top
      width: 230px
      height: 52px
      color: $color-white
      background-color: $color-red
      text-align: center
      font-size: rem(18)
      font-family: $font-sportword
      padding-top: 10px
      position: relative
      z-index: 20
      a
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 10
      strong
        display: block
        font-family: $font-sportword
        line-height: 1
        margin-bottom: 3px
        text-transform: uppercase
      span
        font-size: rem(10)
        display: block
        line-height: 1
      &::after
        content: ''
        position: absolute
        top: 0
        left: -23px
        width: 0
        height: 100%
        @include triangle(23px 52px, $color-red, up-right)

    &__bottom
      // display: none
      background-color: $color-red
      color: $color-white
      position: absolute
      width: 100%
      // padding: 35px 25px
      padding: 15px 15px
      font-size: rem(14)
      // font-size: rem(16)
      font-family: $font-dejavu-cond-book
      will-change: transform
      transform: translateY(-200%)
      transition: transform 0.5s ease-out
      z-index: 10
      &::after
        content: ''
        position: absolute
        // bottom: -46px
        bottom: -26px
        left: 0
        width: 0
        // @include triangle(230px 46px, $color-red, up-right)
        @include triangle(230px 26px, $color-red, up-right)
      ul
        margin: 0
        padding: 0
        &>li
          list-style: none
          margin: 0
          &:not(:first-child)
            // padding-top: 5px
            padding-top: 2px

/**/
.rent-terms
  // background-color: pink
  position: relative
  overflow: hidden

  &>.container
    padding-top: 80px
    padding-bottom: 75px
    position: relative
    z-index: 50
    background:
      color: #1a1b1b
      repeat: repeat
      position: top center
      image: url('../img/dark-pattern.png')
      size: cover

.terms
  text-align: center
  color: $color-lightgray
  &__img
    background-color: $color-red
    width: 122px
    height: 122px
    position: relative
    margin: 0 auto 50px
    transform: rotate(-45deg)
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%) rotate(45deg)
    &::after
      border: 1px solid $color-white
      left: 5px
      right: 5px
      bottom: 5px
      top: 5px
      content: ''
      position: absolute

  &__title
    text-transform: uppercase
    font-size: rem(15)
    font-family: $font-sportword
    color: $color-red
    max-width: 80%
    margin: 0 auto

  &>div
    &:not(:last-child)
      .terms__block
        margin-bottom: 50px

/**/
.main-about
  position: relative
  overflow: hidden

  &>.container
    padding-top: 80px
    // padding-bottom: 75px
    position: relative
    z-index: 50
    background:
      color: #1a1b1b
      repeat: repeat
      position: top center
      image: url('../img/dark-pattern.png')
      size: cover
  &__body
    color: $color-lightgray
    text-align: center

  &__block
    display: table
    color: $color-red
    font-family: $font-sportword
    font-size: rem(15)
    text-transform: uppercase
    text-align: left
    margin: 0 auto 25px
    max-width: 215px
    width: 100%
    &>div
      display: table-cell
      vertical-align: middle
      &:first-child
        width: 65px
      &:not(:first-child)
        padding-left: 15px
    img
      max-width: 54px
      width: auto
    p
      margin: 0
      line-height: 1.3

  &__row
    padding-bottom: 20px
    padding-top: 20px

.rent-terms
  background: rgba(0,0,0,.5)
  background: -webkit-radial-gradient(center ellipse, #202021 0%, #161819 100%)
  background: -moz-radial-gradient(center ellipse, #202021 0%, #161819 100%)
  background: -ms-radial-gradient(center ellipse, #202021 0%, #161819 100%)
  background: radial-gradient(ellipse at center, #202021 0%, #161819 100%)

.rent-terms, .main-about
  background:
    color: #1a1b1b
    repeat: repeat
    position: top center
    image: url('../img/dark-pattern.png')
    size: cover

/**/
.main-news
  background-color: $color-gray

  &__body
    background-color: $color-lightgray
    padding: 55px 10px 50px 10px
    position: relative
    z-index: 100
    margin: -20px 0

  &__block
    position: relative
    max-width: 330px
    margin: 0 auto
    &__shadow
      position: absolute
      right: 8px
      bottom: -2px
      width: 90%
      height: 15px
      background-color: $color-gray
      transform: rotate(5deg)

    &__body
      padding: 3px
      background-color: $color-white
      overflow: hidden
      position: relative
      font-size: rem(13)
      height: 234px
      &::before
        content: ''
        position: absolute
        width: 35px
        height: 36px
        background: $color-lightgray url('../img/news-corner.png') 0 0
        right: 0
        top: 0
        opacity: 1
      a
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 10
      p
        margin: 15px 0 0 0
        opacity: 1
        transition: transform 0.3s ease-out
        height: 118px
        overflow: hidden

    &:hover
      .main-news__block__body
        &::before
          opacity: 0
      .main-news__img
        transform: translateY(0%)
        opacity: 1
      .main-news__text
        transform: translateY(125px)
        p
          opacity: 0
      .main-news__title
        color: $color-red

  &__img
    position: absolute
    opacity: 0
    transform: translateY(-130%)
    transition: transform 0.3s ease-out
    left: 3px
    top: 3px
    right: 3px
    overflow: hidden
    img
      max-height: 125px

  &__title
    font-size: rem(15)
    font-family: $font-dejavu-serif-bold
    color: $color-black
    padding-right: 20px
    height: 63px
    position: relative
    overflow: hidden
    display: flex
    align-items: center

  &__row
    &>div
      &:not(:first-child)
        .main-news__block
          margin-top: 60px

  &__text
    transform: translateY(0%)
    transition: transform 0.3s ease-out
    padding: 20px 17px 10px 17px

/**/
.all-news
  text-align: right
  font-size: rem(11)
  padding-top: 20px
  max-width: 330px
  margin: 0 auto

/**/
.order-row
  background:
    color: $color-red
    repeat: repeat
    size: 1500px auto
    image: url('../img/red-pattern.png')
    position: top center
  color: $color-white
  &__form
    min-height: 200px
    .btn--big-order-left
      // margin-left: -10px
  &__title
    font-size: rem(21)
    font-family: $font-sportword
    text-transform: uppercase
    // line-height: 1
  &__top
    padding: 14px 0
    min-height: 55px
  &__bottom
    display: none
    opacity: 0
    animation: displayBlock 1s ease-in-out
    // transition: all 1s ease-in-out
    padding-bottom: 20px
    padding-top: 20px
    // overflow: hidden
    &.active
      opacity: 1
      display: block

  &__button
    color: $color-white
    overflow: hidden
    position: relative
    float: right
    font-size: rem(13)
    text-decoration: none
    &:hover, &:active, &:focus
      color: $color-white
    em
      display: inline-block
      margin-right: 15px
      font-family: $font-dejavu-cond-italic
      vertical-align: middle
    &.active
      .order-row__radio
        background-color: transparent
        &::after
          border-color: $color-white
          background-color: transparent
          left: 1px

  &__radio
    display: inline-block
    height: 17px
    width: 31px
    position: relative
    border: 2px solid $color-white
    border-radius: 25px
    vertical-align: middle
    margin: 4px 0
    transition: all 0.2s linear
    background-color: $color-white
    &::after
      content: ''
      position: absolute
      left: 15px
      top: 1px
      width: 11px
      height: 11px
      border-radius: 50%
      border: 2px solid $color-red
      transition: all 0.2s linear

  &__img
    background-color: $color-white
    max-width: 460px
    border-top: 1px solid $color-red
    position: relative
    padding: 15px
    margin: 0 auto 20px auto
    img
      margin-left: auto
      margin-right: auto
  &__bottom-title
    font-size: rem(21)
    font-family: $font-sportword
    text-transform: uppercase
    position: absolute
    top: 15px
    left: 15px
    right: 15px
    color: $color-red
  &__select
    margin: 0 auto
    max-width: 460px

@keyframes displayBlock
  0%
    opacity: 0
  100%
    opacity: 1

.order-row__select
  position: relative
  .jq-selectbox
    width: 100%
  .jq-selectbox__select
    border-radius: 0
    height: 30px
    border: 0
    background: $color-white
    &:hover
      background: $color-white
  .jq-selectbox__trigger
    border-left: 0
  .jq-selectbox__trigger-arrow
    border-top-color: $color-red !important
  .jq-selectbox__select-text
    font-size: rem(13)
    color: $color-red
    font-family: $font-dejavu-cond-bold
  .jq-selectbox__dropdown
    top: 30px !important
    bottom: inherit !important
    border: 0
  .jq-selectbox li.selected
    background: $color-red
  .jq-selectbox li:hover
    background: $color-red
  .jq-selectbox.focused .jq-selectbox__select
    border: 0 !important

/**/
.order-carousel
  padding: 0 15px
  background: $color-gray
  &__body
    position: relative
    z-index: 100 !important
    margin-bottom: -20px
  &__block
    // margin: 0 15px
    position: relative
    padding: 50px 10px 0 10px
    transition: all 0.3s ease
    .popup__header
      opacity: 0
      transition: all 0.2s linear
    // background-color: $color-gray

  .popup__order__img
    img
      max-height: 80px
      width: auto !important
  .popup__order__bottom
    opacity: 0
    transition: all 0.2s linear
  .popup__order__info
    opacity: 0
    transition: all 0.2s linear

.owl-item
  &.center
    .order-carousel__block
      background-color: $color-lightgray
      .popup__header
        opacity: 1
    .popup__order__bottom
      opacity: 1
      transition: all 0.7s linear
    .popup__order__info
      opacity: 1
      transition: all 0.7s linear


/**/
.owl-controls
  max-width: 1170px
  width: 100%
  margin: 0 auto
  height: 1px
  position: relative
  display: none
  opacity: 0
  transition: all 0.5s ease
  .owl-nav
    position: absolute
    width: 100%
    .owl-prev, .owl-next
      display: block
      position: absolute
      height: 54px
      width: 54px
      border-radius: 50%
      background: $color-white
      color: $color-darkgray
      font-family: $font-ionicons
      transition: all 0.5s ease
      margin-top: -421px
      box-shadow: -1px 1px 2px rgba($color-black,.33%)
      &:hover
        background-color: $color-red
        color: $color-white
      &::before
        font-size: rem(16)
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-4px,-11px)
    .owl-prev
      left: 30px
      top: 0
      box-shadow: 1px 1px 2px rgba($color-black,.33%)
      &::before
        content: "\f124"
    .owl-next
      right: 30px
      top: 0
      &::before
        content: "\f125"

.main-news__body
  .h1, h1
    font-size: rem(30) !important
