//- О компании
doctype

html(lang="ru")
  
  -var active = 'О компании' //активный пункт меню, список в header.jade
  -var pageTitle = 'О компании' + ' - Dinamika' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Breadcrumbs
    .breadcrumbs
      .container
        ol.breadcrumb
          li
            a(href='#')
              i.ion-ios-home
          li.active О компании
      
    // Content
    .content
      
      .content__top.content__top--about(style="background-image: url('./tmp/background/about.jpg')")
        div
          .container
            .content__head.content__head--top
              .h1 О компании
            
            .hidden-xs
              p О личном автомобиле мечтает каждый. Однако не всегда есть возможность его приобрести. В этом случае полезной может стать услуга - аренда машины. Сегодня к услугам компаний, предлагающих прокат автомобилей, обращаются сотни жителей и гостей столицы. Аренда автомобилей – это не просто шанс передвигаться по городу на собственном автомобиле, это возможность продемонстрировать свой статус. Вы можете произвести впечатление на любимую девушку, прокатив ее на машине премиального класса, удивить друзей, и, наконец, ощутить чувство свободы и независимости, которые дарит управление автомобилем.
      
      .content__body
        .container
          
          // About
          .about.row
            .col-sm-3.col-480-6
              .about__block
                img(src="./img/icon/icon-about-1.svg", alt="")
                p ВСЕ АВТО 
                  br
                  | ЗАСТРАХОВАНЫ
            
            .col-sm-3.col-480-6
              .about__block
                img(src="./img/icon/icon-about-2.svg", alt="")
                p ОФОРМЛЕНИЕ 15 
                  br
                  | МИНУТ
            
            .col-sm-3.col-480-6
              .about__block
                img(src="./img/icon/icon-about-3.svg", alt="")
                p ДОСТАВИМ МАШИНУ 
                  br
                  | САМИ
            
            .col-sm-3.col-480-6
              .about__block
                img(src="./img/icon/icon-about-4.svg", alt="")
                p ПРОКАТ БЕЗ ЗАЛОГА
          
          .content__head
            h1 dinamika - премиум сервис
          
          p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. 

          p Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. 

          p Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его языком и речью и заманивший в свое агенство, которое использовало его снова и снова в своих проектах. И если его не переписали, то живет он там до сих пор.
          
          img(src="./tmp/about-company.png", alt="").img-responsive.img-thumbnails

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Vendor.js
       Modernizr v2.8.3
       Plugins-scroll
    script(src='./js/libs/vendor.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
    include ./_include/_js-body-bottom
