//- Автопарк
doctype

html(lang="ru")
  
  -var active = 'Автопарк' //активный пункт меню, список в header.jade
  -var pageTitle = 'Автопарк' + ' - Dinamika' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    include ./_include/_popup-order
    
    // Breadcrumbs
    .breadcrumbs
      .container
        ol.breadcrumb
          li
            a(href='#')
              i.ion-ios-home
          li.active Автопарк
      
    // Content
    .content
      
      .content__top(style="background-image: url('./tmp/background/rent-auto.jpg')")
        div
          .container
            .content__head.content__head--top
              .h1 Автопарк
            
            .hidden-xs
              p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
      
      .content__body.content__body--autopark
          
        // Autopark
        .autopark
          
          // Autopark top
          .autopark__top
            .container
              
              .autopark__select
                .autopark__select__desctop
                  .autopark__select__desctop__body
                    div
                      a(href="#").autopark__select__all-filter
                        strong Все
                        small машины
                    div
                      ul
                        li
                          a(href="javascript:void(0)")
                            svg.icon-select-car-1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 51')
                              path(d='M146.7 13.9l.6-2.4s-.1-.1-.2-.1c-1.3-.5-5.5.4-5.5.4-1.2-.5-10.4-.9-10.4-.9C113.1 2.3 100.4.3 100.4.3S89.5-.1 75.7.3c-13.8.2-27.2 11.5-28.2 12s-1.2-.5-1.2-.5c-31.6 0-44.7 10-44.7 10s.7 4.5-.8 6.1c-1.5 1.5.8 8.6.8 8.6l-1.6.9v2.3c2.9 1.7 7.4 2.7 12.1 3.3-.7-1.6-1.1-3.3-1.1-5.1 0-7.2 5.9-13.1 13.1-13.1 7.2 0 13.1 5.9 13.1 13.1 0 2-.5 3.9-1.3 5.6 9.2-.2 34.1-.6 44.4-.9 5.7-.2 15.2 0 24.1.3-.6-1.6-.9-3.2-.9-5 0-8 6.5-14.5 14.6-14.5 8 0 14.6 6.5 14.6 14.5 0 1.5-.2 3-.7 4.4 4.8-1.6 10.9-4 10.9-4 9.5-7.1 4.8-18.3 4.8-18.7-.2-.5-1-5.7-1-5.7zm0 0')
                              path(d='M24.1 48.4c3.8 0 7.1-2 9-5 1-1.7 1.7-3.6 1.7-5.7C34.8 31.8 30 27 24.1 27s-10.7 4.8-10.7 10.7c0 2 .6 3.8 1.5 5.4 1.9 3.2 5.3 5.3 9.2 5.3zm0 0M118 49.9c4.8 0 9-2.8 10.9-6.9.8-1.6 1.2-3.4 1.2-5.3 0-6.7-5.4-12.2-12.2-12.2-6.7 0-12.2 5.5-12.2 12.2 0 1.8.4 3.5 1.2 5.1 2 4.2 6.2 7.1 11.1 7.1zm0 0')
                            small седан
                        li
                          a(href="javascript:void(0)")
                            svg.icon-select-car-2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 54')
                              path(d='M145.6 39.4c2.4-3.1 1.8-10.3 1.4-13.1-.4-2.8-2.7-1.5-2.6-3.4.1-1.9.3-7.4-.7-8.1-1-.7-1.9-1.1-1.9-1.1-1.4-2.9-10.9-9.9-10.9-9.9V2.7C115.6 1 81.3-1.4 71.6 1c-9.8 2.3-32.2 14.4-32.2 14.4-23.4.4-34.7 8-34.7 8S5 24.6 2.4 27C-.3 29.4 0 34.1 0 34.1l1.6 7.4c.8.7 11.5 4.2 14.6 3.8-.3-1.2-.5-2.4-.5-3.7 0-7.9 6.5-14.4 14.4-14.4 8 0 14.4 6.5 14.4 14.4v1.1c9.4 0 40.5.1 62.6.1 0-.4-.1-.7-.1-1.1 0-7.9 6.5-14.4 14.4-14.4s14.4 6.5 14.4 14.4v.4c5.9-1 9.8-2.7 9.8-2.7zm0 0')
                              path(d='M30.2 29.6c-6.6 0-12 5.4-12 12 0 1 .2 2 .4 2.9 1.3 5.2 6 9.1 11.6 9.1 6.3 0 11.4-4.8 11.9-10.9 0-.4.1-.7.1-1.1 0-6.6-5.4-12-12-12zm0 0M121.5 29.6c-6.6 0-12 5.4-12 12 0 .4.1.8.1 1.1.6 6.1 5.6 10.9 11.9 10.9 6.4 0 11.5-5 11.9-11.2 0-.3.1-.5.1-.8 0-6.6-5.4-12-12-12zm0 0')
                            small вагон
                        li
                          a(href="javascript:void(0)")
                            svg.icon-select-car-3(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 46')
                              path(d='M146.9 38c1.5-5.2 1.1-9.5-1.2-12.9-4.5-6.5-14.5-7.3-16.4-7.4l-3.7-2-.2-.1c-4.2-1.2-19.8-1.7-22.1-1.7-3.7-1.8-6.7-3.5-9.5-5C84.3 3.5 78 0 60.1 0 38.3 0 20.5 9.4 18.2 10.8c-1.3.1-2.4.2-3.5.3l-3-4.1 3.3.3c1.4.1 2-.6 1.4-1.6-.6-1-2.1-2-3.5-2.1l-11-1.1C.6 2.3-.1 3 .5 4.1c.6 1 2.1 2 3.5 2.1l1.7.2 3.8 5.1c-6.4.6-6.4 1-6.4 2C3.1 22 2 23.9 1.8 24.3L0 22.9v8.8L1 33c0 1.3.4 2.5 1.2 3.4 2.8 3.1 9.1 3.2 9.8 3.2 2.1 0 6.6-1.1 9.6-1.9-.2-.4-.4-.7-.6-1.1-.2-.4-.3-.8-.4-1.2-.4-1.1-.6-2.4-.6-3.6C20 25.3 25.3 20 31.8 20c6.5 0 11.8 5.3 11.8 11.8 0 2.8-1 5.4-2.7 7.4-.3.4-.7.8-1.1 1.2-.5.4-1 .9-1.5 1.2 13.6 0 51.8.2 78 .8-.4-.4-.7-.8-1-1.2-.3-.4-.6-.8-.8-1.2-1-1.7-1.6-3.7-1.6-5.8 0-6.5 5.3-11.8 11.8-11.8 6.5 0 11.8 5.3 11.8 11.8 0 2.4-.7 4.6-1.9 6.4l-.9 1.2c-.4.4-.7.8-1.2 1.2 2.4.1 4.5.1 6.3.1 9 0 10.8-.8 11-2.3 0-.5.2-1.6-2.9-2.8zm0 0')
                              path(d='M24.1 37.1c1.7 2.5 4.5 4.1 7.7 4.1h.3c1.2 0 2.3-.3 3.4-.7.7-.3 1.4-.7 2-1.2 2.2-1.7 3.7-4.4 3.7-7.4 0-5.1-4.2-9.3-9.3-9.3-5.1 0-9.3 4.2-9.3 9.3 0 1.1.2 2 .5 3 .1.4.3.8.5 1.1.1.4.3.8.5 1.1zm0 0M124.7 43.5c1.2 0 2.4-.3 3.5-.7.7-.3 1.4-.7 2-1.2.5-.4.9-.8 1.3-1.2 1.5-1.7 2.5-3.9 2.5-6.3 0-5.2-4.2-9.4-9.3-9.4-5.1 0-9.3 4.2-9.3 9.4 0 2.3.8 4.3 2.2 5.9.4.5.8.9 1.3 1.3.6.5 1.3.9 2 1.3 1.1.6 2.4.9 3.8.9zm0 0')
                            small спорт
                        li.active
                          a(href="javascript:void(0)")
                            svg.icon-select-car-4(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 150 40')
                              path(d='M149.8 17.6c-.1-2.6-2.4-6.2-3.2-7.3.5-.8.8-1.5.5-2-.3-.5-.9-.5-1.2-.5-.4 0-.9.1-1.5.2-1.4.2-3.4.4-5 .1-3.4-.6-8-1-12.7-1-1.2 0-2.3 0-3.4.1-3.8.2-10.7-1.7-19.6-4l-3.3-.9C96.1 1 92.7.4 90.4.4c-1.2 0-1.9.2-2.3.3-.3-.1-.5-.1-.7-.1-1.3 0-1.8 1-2 1.9-.7 0-1.1.3-1.4.7-1.1-.1-1.5.6-1.6.7l-.1.1v6c-2.1.5-13.7 1.2-22.4 1.6.3-.2.5-.5.6-.8.5-1 .4-2 .2-2.6L70.3 4l.1-.3c0-.1.4-1.5-.5-2.6C69.3.4 68.3 0 67 0c-.4 0-.8 0-1.3.1-5 .7-25 10-26.8 10.8C15.1 11.9.4 24 .2 24.1l-.2.2V31l.1.1c2.9 3.7 13.8 5.4 23.8 5.8-.2-.2-.3-.4-.5-.6-.1-.2-.2-.4-.4-.6-1.2-2-2-4.4-2-6.9 0-7.4 6.1-13.4 13.5-13.4s13.6 6 13.6 13.4c0 2-.5 3.9-1.3 5.6l-.3.6c-.1.2-.2.4-.4.6 10.2-.5 30.5-.6 48.9-.6 6.6 0 13.1 0 18.9-.1l-.3-.6-.3-.6c-.7-1.7-1.2-3.6-1.2-5.6 0-7.9 6.4-14.2 14.4-14.2 7.9 0 14.4 6.4 14.4 14.2 0 1.5-.3 3-.7 4.4-.1.2-.2.5-.3.7-.1.2-.2.5-.3.7 3.1-.7 5.5-2 7.2-3.9 3.4-3.9 3-9 2.8-11.6.2-.3.2-.6.2-.8zm0 0')
                              path(d='M34.6 39.9c3.5 0 6.5-1.6 8.5-4 .2-.2.4-.4.5-.6.1-.2.3-.4.4-.6 1-1.7 1.7-3.7 1.7-5.8 0-6.1-5-11-11.1-11-6.2 0-11.2 4.9-11.2 11 0 2.7 1 5.1 2.6 7 .2.2.3.4.5.6.2.2.4.4.7.6 2 1.7 4.6 2.8 7.4 2.8zm0 0M116.6 34.3c.1.2.2.4.4.6 2.2 3.1 5.8 5.1 9.8 5.1 4.3 0 8-2.2 10.1-5.6.1-.2.2-.4.4-.7.1-.2.2-.4.4-.7.7-1.5 1.1-3.2 1.1-4.9 0-6.5-5.4-11.9-12-11.9s-12 5.3-12 11.9c0 2 .6 3.9 1.5 5.6l.3.6zm0 0')
                            small кабрио
                        li
                          a(href="javascript:void(0)")
                            svg.icon-select-car-5(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 66')
                              path(d='M11.6 54.1c1.9 6 7.5 10.4 14.2 10.4 6.6 0 12.2-4.3 14.1-10.2l.3-1.2c.1-.4.2-.8.2-1.2.1-.7.2-1.5.2-2.2 0-8.2-6.7-14.8-14.9-14.8s-14.9 6.6-14.9 14.8c0 .7.1 1.4.2 2 .1.4.1.8.2 1.2.2.4.3.8.4 1.2zm0 0')
                              path(d='M102.6 52.8c1.4 6.7 7.4 11.7 14.5 11.7 7.8 0 14.1-5.9 14.8-13.5 0-.4.1-.8.1-1.2v-.1-1.1c-.6-7.7-7-13.8-14.8-13.8-8.2 0-14.9 6.7-14.9 14.9v.7c0 .4 0 .8.1 1.2 0 .4.1.8.2 1.2zm0 0')
                              path(d='M141.7 6.6c-1.7.2-3.2 1-4.1 2.3-.4.5-.7 1.1-.9 1.7-.2.6-.2 1.2-.2 1.8l.6 6.5c-.5-.5-.9-.8-.9-.8 0-9-3.2-15-3.2-15l2.4-1.7-1.6-1.4H96.5c-17 0-36.7 3.8-39.1 6.3C55 8.8 43.3 20.1 43.3 20.1L9 24.9S4 32.1 3 34c-1.1 2-1.8 2.1-1.8 2.1C-3 46.3 5.5 50.2 8.7 51.2c-.1-.5-.1-1.1-.1-1.6 0-9.5 7.7-17.3 17.3-17.3S43.2 40 43.2 49.6c0 .7-.1 1.5-.2 2.2 18-.2 39.4-.7 57-1.4v-.8c0-9.5 7.8-17.3 17.3-17.3 9 0 16.4 6.9 17.2 15.7 6.2-2 6.8-9.3 6.1-15.7.4.2.8.5 1.3.6.4.1.8.2 1.3.3h1.2c3.1-.3 5.5-2.9 5.2-5.7l-1.5-16.3c-.5-2.8-3.2-4.9-6.4-4.6zm0 0')
                            small джип
                        li
                          a(href="javascript:void(0)")
                            svg.icon-select-car-6(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 56')
                              path(d='M144.2 21.3c-.1-2.6-10.2-4.6-25.8-6.8-15.6-2.3-9.1-11.1-29-13.2-19.9-2.1-36.3-1.6-37.6 1-1.4 2.7-1.8 12-1.8 12H6.2C2.8 15.3 4.3 29 4.3 29c0 .1 0 .2.1.2h-.3c-2.3 0-4.2 1.9-4.2 4.2 0 2.3 1.9 4.1 4.2 4.1h5c1.3 0 5.3-.6 8.6-1.5 1.5.3 2.9.7 4.3 1 2.1-4.5 6.7-7.7 12-7.7 7.3 0 13.3 6 13.3 13.3h63.1c0-7.3 6-13.3 13.3-13.3 6.9 0 12.6 5.3 13.2 12 3.2-.7 6.7-1.5 8.2-2.1 2.9-1.2 2.5-11.7 2.5-11.7s-3.3-3.5-3.4-6.2zm0 0')
                              path(d='M45 42.7c0-6-4.9-10.9-10.9-10.9-4.2 0-7.9 2.5-9.7 6-.8 1.5-1.2 3.1-1.2 4.9 0 6 4.9 10.9 10.9 10.9S45 48.7 45 42.7zm0 0M134.6 42.7c0-.3-.1-.5-.1-.8-.4-5.7-5.1-10.1-10.8-10.1-6 0-10.9 4.9-10.9 10.9s4.9 10.9 10.9 10.9 10.9-4.9 10.9-10.9zm0 0')
                            small пикап
                        li
                          a(href="javascript:void(0)")
                            svg.icon-select-car-7(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 69')
                              path(d='M4 36C-2.5 42.4.9 36 .7 47.4c-.1 9.9 6 10.1 7.6 9.9-.3-1.2-.5-2.5-.5-3.8 0-8.3 6.7-15 15-15s15.1 6.7 15.1 15c0 1.3-.2 2.6-.5 3.8 22.5 0 53.7 0 77.1-.4-.3-1.1-.4-2.2-.4-3.4 0-8.3 6.7-15 15.1-15 8.3 0 15.1 6.7 15.1 15 0 .8-.1 1.6-.2 2.5 1.7-.2 2.7-.3 2.9-.5 3-2.4 1.8-17.4-2.3-20.5-4.1-3.2-1.8-4.8-2-10.7-.1-3.2-2.7-7.6-5.1-11.1 1.9-.5 3.8-1.2 5.5-2.1.2-.1.4-.3.5-.4.7-.7.8-1.6.4-2.5v-.1c0-.1-.1-.2-.1-.3-.4-.7-1-1.3-2-1.4-2.9-.3-5.8-.4-8.5-1.3-.3-.1-.6-.1-.9-.1v-.1S110.7-.6 83.2 0C55.7.6 55 17.1 31.2 18.8 7.5 20.5 4 36 4 36zm0 0')
                              path(d='M22.8 41c-7 0-12.7 5.7-12.7 12.6 0 1.3.3 2.6.6 3.8 1.6 5.1 6.3 8.9 12 8.9 5.6 0 10.4-3.7 12-8.8.4-1.2.7-2.5.7-3.8.1-7.1-5.6-12.7-12.6-12.7zm0 0M129.1 41c-7 0-12.7 5.7-12.7 12.6 0 1.2.2 2.3.5 3.4 1.5 5.3 6.3 9.3 12.1 9.3 6.1 0 11.2-4.3 12.4-10 .2-.8.3-1.7.3-2.6.1-7.1-5.6-12.7-12.6-12.7zm0 0')
                            small смарт
                  
                .autopark__select__mobile
                  .autopark__select__top
                    div
                      a(href="#").autopark__select__all-filter
                        strong Все
                        small машины
                    div
                      span.span.span--car
                        svg.icon-select-car-7(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 69')
                          path(d='M4 36C-2.5 42.4.9 36 .7 47.4c-.1 9.9 6 10.1 7.6 9.9-.3-1.2-.5-2.5-.5-3.8 0-8.3 6.7-15 15-15s15.1 6.7 15.1 15c0 1.3-.2 2.6-.5 3.8 22.5 0 53.7 0 77.1-.4-.3-1.1-.4-2.2-.4-3.4 0-8.3 6.7-15 15.1-15 8.3 0 15.1 6.7 15.1 15 0 .8-.1 1.6-.2 2.5 1.7-.2 2.7-.3 2.9-.5 3-2.4 1.8-17.4-2.3-20.5-4.1-3.2-1.8-4.8-2-10.7-.1-3.2-2.7-7.6-5.1-11.1 1.9-.5 3.8-1.2 5.5-2.1.2-.1.4-.3.5-.4.7-.7.8-1.6.4-2.5v-.1c0-.1-.1-.2-.1-.3-.4-.7-1-1.3-2-1.4-2.9-.3-5.8-.4-8.5-1.3-.3-.1-.6-.1-.9-.1v-.1S110.7-.6 83.2 0C55.7.6 55 17.1 31.2 18.8 7.5 20.5 4 36 4 36zm0 0')
                          path(d='M22.8 41c-7 0-12.7 5.7-12.7 12.6 0 1.3.3 2.6.6 3.8 1.6 5.1 6.3 8.9 12 8.9 5.6 0 10.4-3.7 12-8.8.4-1.2.7-2.5.7-3.8.1-7.1-5.6-12.7-12.6-12.7zm0 0M129.1 41c-7 0-12.7 5.7-12.7 12.6 0 1.2.2 2.3.5 3.4 1.5 5.3 6.3 9.3 12.1 9.3 6.1 0 11.2-4.3 12.4-10 .2-.8.3-1.7.3-2.6.1-7.1-5.6-12.7-12.6-12.7zm0 0')

                      span.span.span--info
                        small или выбрать
                        strong смарт
                    div
                      a(href="#").autopark__select__filter
                        i.ion-android-funnel
                    
                  #autopark__select__bottom.autopark__select__bottom
                    ul
                      li.autopark__select__checkbox.selected
                        a(href="javascript:void(0)")
                          span.span.span--checkbox
                            i.ion-android-checkbox-outline-blank
                            i.ion-android-checkbox-outline
                          span.span.span--car
                            svg.icon-select-car-1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 51')
                              path(d='M146.7 13.9l.6-2.4s-.1-.1-.2-.1c-1.3-.5-5.5.4-5.5.4-1.2-.5-10.4-.9-10.4-.9C113.1 2.3 100.4.3 100.4.3S89.5-.1 75.7.3c-13.8.2-27.2 11.5-28.2 12s-1.2-.5-1.2-.5c-31.6 0-44.7 10-44.7 10s.7 4.5-.8 6.1c-1.5 1.5.8 8.6.8 8.6l-1.6.9v2.3c2.9 1.7 7.4 2.7 12.1 3.3-.7-1.6-1.1-3.3-1.1-5.1 0-7.2 5.9-13.1 13.1-13.1 7.2 0 13.1 5.9 13.1 13.1 0 2-.5 3.9-1.3 5.6 9.2-.2 34.1-.6 44.4-.9 5.7-.2 15.2 0 24.1.3-.6-1.6-.9-3.2-.9-5 0-8 6.5-14.5 14.6-14.5 8 0 14.6 6.5 14.6 14.5 0 1.5-.2 3-.7 4.4 4.8-1.6 10.9-4 10.9-4 9.5-7.1 4.8-18.3 4.8-18.7-.2-.5-1-5.7-1-5.7zm0 0')
                              path(d='M24.1 48.4c3.8 0 7.1-2 9-5 1-1.7 1.7-3.6 1.7-5.7C34.8 31.8 30 27 24.1 27s-10.7 4.8-10.7 10.7c0 2 .6 3.8 1.5 5.4 1.9 3.2 5.3 5.3 9.2 5.3zm0 0M118 49.9c4.8 0 9-2.8 10.9-6.9.8-1.6 1.2-3.4 1.2-5.3 0-6.7-5.4-12.2-12.2-12.2-6.7 0-12.2 5.5-12.2 12.2 0 1.8.4 3.5 1.2 5.1 2 4.2 6.2 7.1 11.1 7.1zm0 0')
                          span.span.span--info
                            small или выбрать
                            strong седан
                  
                      li.autopark__select__checkbox
                        a(href="javascript:void(0)")
                          span.span.span--checkbox
                            i.ion-android-checkbox-outline-blank
                            i.ion-android-checkbox-outline
                          span.span.span--car
                            svg.icon-select-car-2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 54')
                              path(d='M145.6 39.4c2.4-3.1 1.8-10.3 1.4-13.1-.4-2.8-2.7-1.5-2.6-3.4.1-1.9.3-7.4-.7-8.1-1-.7-1.9-1.1-1.9-1.1-1.4-2.9-10.9-9.9-10.9-9.9V2.7C115.6 1 81.3-1.4 71.6 1c-9.8 2.3-32.2 14.4-32.2 14.4-23.4.4-34.7 8-34.7 8S5 24.6 2.4 27C-.3 29.4 0 34.1 0 34.1l1.6 7.4c.8.7 11.5 4.2 14.6 3.8-.3-1.2-.5-2.4-.5-3.7 0-7.9 6.5-14.4 14.4-14.4 8 0 14.4 6.5 14.4 14.4v1.1c9.4 0 40.5.1 62.6.1 0-.4-.1-.7-.1-1.1 0-7.9 6.5-14.4 14.4-14.4s14.4 6.5 14.4 14.4v.4c5.9-1 9.8-2.7 9.8-2.7zm0 0')
                              path(d='M30.2 29.6c-6.6 0-12 5.4-12 12 0 1 .2 2 .4 2.9 1.3 5.2 6 9.1 11.6 9.1 6.3 0 11.4-4.8 11.9-10.9 0-.4.1-.7.1-1.1 0-6.6-5.4-12-12-12zm0 0M121.5 29.6c-6.6 0-12 5.4-12 12 0 .4.1.8.1 1.1.6 6.1 5.6 10.9 11.9 10.9 6.4 0 11.5-5 11.9-11.2 0-.3.1-.5.1-.8 0-6.6-5.4-12-12-12zm0 0')
                          span.span.span--info
                            small или выбрать
                            strong вагон
                  
                      li.autopark__select__checkbox
                        a(href="javascript:void(0)")
                          span.span.span--checkbox
                            i.ion-android-checkbox-outline-blank
                            i.ion-android-checkbox-outline
                          span.span.span--car
                            svg.icon-select-car-3(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 46')
                              path(d='M146.9 38c1.5-5.2 1.1-9.5-1.2-12.9-4.5-6.5-14.5-7.3-16.4-7.4l-3.7-2-.2-.1c-4.2-1.2-19.8-1.7-22.1-1.7-3.7-1.8-6.7-3.5-9.5-5C84.3 3.5 78 0 60.1 0 38.3 0 20.5 9.4 18.2 10.8c-1.3.1-2.4.2-3.5.3l-3-4.1 3.3.3c1.4.1 2-.6 1.4-1.6-.6-1-2.1-2-3.5-2.1l-11-1.1C.6 2.3-.1 3 .5 4.1c.6 1 2.1 2 3.5 2.1l1.7.2 3.8 5.1c-6.4.6-6.4 1-6.4 2C3.1 22 2 23.9 1.8 24.3L0 22.9v8.8L1 33c0 1.3.4 2.5 1.2 3.4 2.8 3.1 9.1 3.2 9.8 3.2 2.1 0 6.6-1.1 9.6-1.9-.2-.4-.4-.7-.6-1.1-.2-.4-.3-.8-.4-1.2-.4-1.1-.6-2.4-.6-3.6C20 25.3 25.3 20 31.8 20c6.5 0 11.8 5.3 11.8 11.8 0 2.8-1 5.4-2.7 7.4-.3.4-.7.8-1.1 1.2-.5.4-1 .9-1.5 1.2 13.6 0 51.8.2 78 .8-.4-.4-.7-.8-1-1.2-.3-.4-.6-.8-.8-1.2-1-1.7-1.6-3.7-1.6-5.8 0-6.5 5.3-11.8 11.8-11.8 6.5 0 11.8 5.3 11.8 11.8 0 2.4-.7 4.6-1.9 6.4l-.9 1.2c-.4.4-.7.8-1.2 1.2 2.4.1 4.5.1 6.3.1 9 0 10.8-.8 11-2.3 0-.5.2-1.6-2.9-2.8zm0 0')
                              path(d='M24.1 37.1c1.7 2.5 4.5 4.1 7.7 4.1h.3c1.2 0 2.3-.3 3.4-.7.7-.3 1.4-.7 2-1.2 2.2-1.7 3.7-4.4 3.7-7.4 0-5.1-4.2-9.3-9.3-9.3-5.1 0-9.3 4.2-9.3 9.3 0 1.1.2 2 .5 3 .1.4.3.8.5 1.1.1.4.3.8.5 1.1zm0 0M124.7 43.5c1.2 0 2.4-.3 3.5-.7.7-.3 1.4-.7 2-1.2.5-.4.9-.8 1.3-1.2 1.5-1.7 2.5-3.9 2.5-6.3 0-5.2-4.2-9.4-9.3-9.4-5.1 0-9.3 4.2-9.3 9.4 0 2.3.8 4.3 2.2 5.9.4.5.8.9 1.3 1.3.6.5 1.3.9 2 1.3 1.1.6 2.4.9 3.8.9zm0 0')

                          span.span.span--info
                            small или выбрать
                            strong спорт
                  
                      li.autopark__select__checkbox
                        a(href="javascript:void(0)")
                          span.span.span--checkbox
                            i.ion-android-checkbox-outline-blank
                            i.ion-android-checkbox-outline
                          span.span.span--car
                            svg.icon-select-car-4(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 150 40')
                              path(d='M149.8 17.6c-.1-2.6-2.4-6.2-3.2-7.3.5-.8.8-1.5.5-2-.3-.5-.9-.5-1.2-.5-.4 0-.9.1-1.5.2-1.4.2-3.4.4-5 .1-3.4-.6-8-1-12.7-1-1.2 0-2.3 0-3.4.1-3.8.2-10.7-1.7-19.6-4l-3.3-.9C96.1 1 92.7.4 90.4.4c-1.2 0-1.9.2-2.3.3-.3-.1-.5-.1-.7-.1-1.3 0-1.8 1-2 1.9-.7 0-1.1.3-1.4.7-1.1-.1-1.5.6-1.6.7l-.1.1v6c-2.1.5-13.7 1.2-22.4 1.6.3-.2.5-.5.6-.8.5-1 .4-2 .2-2.6L70.3 4l.1-.3c0-.1.4-1.5-.5-2.6C69.3.4 68.3 0 67 0c-.4 0-.8 0-1.3.1-5 .7-25 10-26.8 10.8C15.1 11.9.4 24 .2 24.1l-.2.2V31l.1.1c2.9 3.7 13.8 5.4 23.8 5.8-.2-.2-.3-.4-.5-.6-.1-.2-.2-.4-.4-.6-1.2-2-2-4.4-2-6.9 0-7.4 6.1-13.4 13.5-13.4s13.6 6 13.6 13.4c0 2-.5 3.9-1.3 5.6l-.3.6c-.1.2-.2.4-.4.6 10.2-.5 30.5-.6 48.9-.6 6.6 0 13.1 0 18.9-.1l-.3-.6-.3-.6c-.7-1.7-1.2-3.6-1.2-5.6 0-7.9 6.4-14.2 14.4-14.2 7.9 0 14.4 6.4 14.4 14.2 0 1.5-.3 3-.7 4.4-.1.2-.2.5-.3.7-.1.2-.2.5-.3.7 3.1-.7 5.5-2 7.2-3.9 3.4-3.9 3-9 2.8-11.6.2-.3.2-.6.2-.8zm0 0')
                              path(d='M34.6 39.9c3.5 0 6.5-1.6 8.5-4 .2-.2.4-.4.5-.6.1-.2.3-.4.4-.6 1-1.7 1.7-3.7 1.7-5.8 0-6.1-5-11-11.1-11-6.2 0-11.2 4.9-11.2 11 0 2.7 1 5.1 2.6 7 .2.2.3.4.5.6.2.2.4.4.7.6 2 1.7 4.6 2.8 7.4 2.8zm0 0M116.6 34.3c.1.2.2.4.4.6 2.2 3.1 5.8 5.1 9.8 5.1 4.3 0 8-2.2 10.1-5.6.1-.2.2-.4.4-.7.1-.2.2-.4.4-.7.7-1.5 1.1-3.2 1.1-4.9 0-6.5-5.4-11.9-12-11.9s-12 5.3-12 11.9c0 2 .6 3.9 1.5 5.6l.3.6zm0 0')

                          span.span.span--info
                            small или выбрать
                            strong кабрио
                  
                      li.autopark__select__checkbox
                        a(href="javascript:void(0)")
                          span.span.span--checkbox
                            i.ion-android-checkbox-outline-blank
                            i.ion-android-checkbox-outline
                          span.span.span--car
                            svg.icon-select-car-5(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 66')
                              path(d='M11.6 54.1c1.9 6 7.5 10.4 14.2 10.4 6.6 0 12.2-4.3 14.1-10.2l.3-1.2c.1-.4.2-.8.2-1.2.1-.7.2-1.5.2-2.2 0-8.2-6.7-14.8-14.9-14.8s-14.9 6.6-14.9 14.8c0 .7.1 1.4.2 2 .1.4.1.8.2 1.2.2.4.3.8.4 1.2zm0 0')
                              path(d='M102.6 52.8c1.4 6.7 7.4 11.7 14.5 11.7 7.8 0 14.1-5.9 14.8-13.5 0-.4.1-.8.1-1.2v-.1-1.1c-.6-7.7-7-13.8-14.8-13.8-8.2 0-14.9 6.7-14.9 14.9v.7c0 .4 0 .8.1 1.2 0 .4.1.8.2 1.2zm0 0')
                              path(d='M141.7 6.6c-1.7.2-3.2 1-4.1 2.3-.4.5-.7 1.1-.9 1.7-.2.6-.2 1.2-.2 1.8l.6 6.5c-.5-.5-.9-.8-.9-.8 0-9-3.2-15-3.2-15l2.4-1.7-1.6-1.4H96.5c-17 0-36.7 3.8-39.1 6.3C55 8.8 43.3 20.1 43.3 20.1L9 24.9S4 32.1 3 34c-1.1 2-1.8 2.1-1.8 2.1C-3 46.3 5.5 50.2 8.7 51.2c-.1-.5-.1-1.1-.1-1.6 0-9.5 7.7-17.3 17.3-17.3S43.2 40 43.2 49.6c0 .7-.1 1.5-.2 2.2 18-.2 39.4-.7 57-1.4v-.8c0-9.5 7.8-17.3 17.3-17.3 9 0 16.4 6.9 17.2 15.7 6.2-2 6.8-9.3 6.1-15.7.4.2.8.5 1.3.6.4.1.8.2 1.3.3h1.2c3.1-.3 5.5-2.9 5.2-5.7l-1.5-16.3c-.5-2.8-3.2-4.9-6.4-4.6zm0 0')

                          span.span.span--info
                            small или выбрать
                            strong джип
                  
                      li.autopark__select__checkbox
                        a(href="javascript:void(0)")
                          span.span.span--checkbox
                            i.ion-android-checkbox-outline-blank
                            i.ion-android-checkbox-outline
                          span.span.span--car
                            svg.icon-select-car-6(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 56')
                              path(d='M144.2 21.3c-.1-2.6-10.2-4.6-25.8-6.8-15.6-2.3-9.1-11.1-29-13.2-19.9-2.1-36.3-1.6-37.6 1-1.4 2.7-1.8 12-1.8 12H6.2C2.8 15.3 4.3 29 4.3 29c0 .1 0 .2.1.2h-.3c-2.3 0-4.2 1.9-4.2 4.2 0 2.3 1.9 4.1 4.2 4.1h5c1.3 0 5.3-.6 8.6-1.5 1.5.3 2.9.7 4.3 1 2.1-4.5 6.7-7.7 12-7.7 7.3 0 13.3 6 13.3 13.3h63.1c0-7.3 6-13.3 13.3-13.3 6.9 0 12.6 5.3 13.2 12 3.2-.7 6.7-1.5 8.2-2.1 2.9-1.2 2.5-11.7 2.5-11.7s-3.3-3.5-3.4-6.2zm0 0')
                              path(d='M45 42.7c0-6-4.9-10.9-10.9-10.9-4.2 0-7.9 2.5-9.7 6-.8 1.5-1.2 3.1-1.2 4.9 0 6 4.9 10.9 10.9 10.9S45 48.7 45 42.7zm0 0M134.6 42.7c0-.3-.1-.5-.1-.8-.4-5.7-5.1-10.1-10.8-10.1-6 0-10.9 4.9-10.9 10.9s4.9 10.9 10.9 10.9 10.9-4.9 10.9-10.9zm0 0')

                          span.span.span--info
                            small или выбрать
                            strong пикап
                
                      li.autopark__select__checkbox
                        a(href="javascript:void(0)")
                          span.span.span--checkbox
                            i.ion-android-checkbox-outline-blank
                            i.ion-android-checkbox-outline
                          span.span.span--car
                            svg.icon-select-car-7(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 150 69')
                              path(d='M4 36C-2.5 42.4.9 36 .7 47.4c-.1 9.9 6 10.1 7.6 9.9-.3-1.2-.5-2.5-.5-3.8 0-8.3 6.7-15 15-15s15.1 6.7 15.1 15c0 1.3-.2 2.6-.5 3.8 22.5 0 53.7 0 77.1-.4-.3-1.1-.4-2.2-.4-3.4 0-8.3 6.7-15 15.1-15 8.3 0 15.1 6.7 15.1 15 0 .8-.1 1.6-.2 2.5 1.7-.2 2.7-.3 2.9-.5 3-2.4 1.8-17.4-2.3-20.5-4.1-3.2-1.8-4.8-2-10.7-.1-3.2-2.7-7.6-5.1-11.1 1.9-.5 3.8-1.2 5.5-2.1.2-.1.4-.3.5-.4.7-.7.8-1.6.4-2.5v-.1c0-.1-.1-.2-.1-.3-.4-.7-1-1.3-2-1.4-2.9-.3-5.8-.4-8.5-1.3-.3-.1-.6-.1-.9-.1v-.1S110.7-.6 83.2 0C55.7.6 55 17.1 31.2 18.8 7.5 20.5 4 36 4 36zm0 0')
                              path(d='M22.8 41c-7 0-12.7 5.7-12.7 12.6 0 1.3.3 2.6.6 3.8 1.6 5.1 6.3 8.9 12 8.9 5.6 0 10.4-3.7 12-8.8.4-1.2.7-2.5.7-3.8.1-7.1-5.6-12.7-12.6-12.7zm0 0M129.1 41c-7 0-12.7 5.7-12.7 12.6 0 1.2.2 2.3.5 3.4 1.5 5.3 6.3 9.3 12.1 9.3 6.1 0 11.2-4.3 12.4-10 .2-.8.3-1.7.3-2.6.1-7.1-5.6-12.7-12.6-12.7zm0 0')

                          span.span.span--info
                            small или выбрать
                            strong смарт
                
            
          // Autopark bottom
          .autopark__bottom
            .container
              
              .row
                .col-md-6
                  .autopark__block
                    div
                      form(action="#")
                        .autopark__img
                          img(src="./tmp/cars/cars-1.png", alt="").img-responsive
                          
                        .autopark__info
                          div
                            h2 bmw 520
                            p
                              em Стоимость аренды: 
                              strong от 2700 руб./час
                              br
                              em Минимальный заказ: 
                              strong 5+1
                          
                          div
                            a(href="#").btn.btn--more Подробнее
                            .clear
                            a(href="#order-form").btn.btn--fast-order.popup-link Быстрый заказ
                      
                        include ./_include/auto-info
                  
                .col-md-6
                  .autopark__block
                    div
                      form(action="#")
                        .autopark__img
                          img(src="./tmp/cars/cars-2.png", alt="").img-responsive
                          
                        .autopark__info
                          div
                            h2 mercedes e 200
                            p
                              em Стоимость аренды: 
                              strong от 2700 руб./час
                              br
                              em Минимальный заказ: 
                              strong 5+1
                          
                          div
                            a(href="#").btn.btn--more Подробнее
                            .clear
                            a(href="#order-form").btn.btn--fast-order.popup-link Быстрый заказ
                      
                        include ./_include/auto-info
                      
              .row
                .col-md-6
                  .autopark__block
                    div
                      form(action="#")
                        .autopark__img
                          img(src="./tmp/cars/cars-3.png", alt="").img-responsive
                          
                        .autopark__info
                          div
                            h2 audi a 6
                            p
                              em Стоимость аренды: 
                              strong от 2700 руб./час
                              br
                              em Минимальный заказ: 
                              strong 5+1
                          
                          div
                            a(href="#").btn.btn--more Подробнее
                            .clear
                            a(href="#order-form").btn.btn--fast-order.popup-link Быстрый заказ
                      
                        include ./_include/auto-info
                  
                .col-md-6
                  .autopark__block
                    div
                      form(action="#")
                        .autopark__img
                          img(src="./tmp/cars/cars-4.png", alt="").img-responsive
                          
                        .autopark__info
                          div
                            h2 chevrolet camaro
                            p
                              em Стоимость аренды: 
                              strong от 2700 руб./час
                              br
                              em Минимальный заказ: 
                              strong 5+1
                          
                          div
                            a(href="#").btn.btn--more Подробнее
                            .clear
                            a(href="#order-form").btn.btn--fast-order.popup-link Быстрый заказ
                      
                        include ./_include/auto-info
                      
              .row
                .col-md-6
                  .autopark__block
                    div
                      form(action="#")
                        .autopark__img
                          img(src="./tmp/cars/cars-5.png", alt="").img-responsive
                          
                        .autopark__info
                          div
                            h2 toyota land cruiser
                            p
                              em Стоимость аренды: 
                              strong от 2700 руб./час
                              br
                              em Минимальный заказ: 
                              strong 5+1
                          
                          div
                            a(href="#").btn.btn--more Подробнее
                            .clear
                            a(href="#order-form").btn.btn--fast-order.popup-link Быстрый заказ
                      
                        include ./_include/auto-info
                  
                .col-md-6
                  .autopark__block
                    div
                      form(action="#")
                        .autopark__img
                          img(src="./tmp/cars/cars-6.png", alt="").img-responsive
                          
                        .autopark__info
                          div
                            h2 Porsche cayenne
                            p
                              em Стоимость аренды: 
                              strong от 2700 руб./час
                              br
                              em Минимальный заказ: 
                              strong 5+1
                          
                          div
                            a(href="#").btn.btn--more Подробнее
                            .clear
                            a(href="#order-form").btn.btn--fast-order.popup-link Быстрый заказ
                      
                        include ./_include/auto-info
                      
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Vendor.js
       Modernizr v2.8.3
       Plugins-scroll
    script(src='./js/libs/vendor.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
    include ./_include/_js-body-bottom
