doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Dinamika' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      
      // Car list
      .car-list
        div
          .car-list__block.car-list__block--big
            .car-list__title
              .car-list__title__top 
                strong Аренда
                span с водителем и без
                a(href="#")
              .car-list__title__bottom 
                ul
                  li Сhevrolet Camaro
                  li AUDI a6
                  li BMW 520
                  li Mercesrs E 200
                  li Porsche Cayenne
                  li и другие..
              
            img(src="./img/car-list/car-1/car-list-1.png", alt="").car-list__auto
            img(src="./img/car-list/car-1/car-human-1.png", alt="").car-list__human
            img(src="./img/car-list/car-1/car-human-1-smoke.png", alt="").car-list__smoke
        
        div
          .car-list__block
            .car-list__title
              .car-list__title__top 
                strong такси
                span премиум класс
                a(href="#")
            img(src="./img/car-list/car-2/car-list-2.png", alt="").car-list__auto
            img(src="./img/car-list/car-2/car-human-2.png", alt="").car-list__human
            
          .car-list__block
            .car-list__title
              .car-list__title__top 
                strong VIP Перевозки
                span встреча в делегации
                a(href="#")
            img(src="./img/car-list/car-3/car-list-3.png", alt="").car-list__auto
            img(src="./img/car-list/car-3/car-human-3.png", alt="").car-list__human
      
          .car-list__block
            .car-list__title
              .car-list__title__top 
                strong Сопровождение
                span c охраной
                a(href="#")
            img(src="./img/car-list/car-4/car-list-4.png", alt="").car-list__auto
            img(src="./img/car-list/car-4/car-human-4.png", alt="").car-list__human
      
          .car-list__block
            .car-list__title
              .car-list__title__top 
                strong VIP Мероприятия
                span свадьба, банкеты и т.д.
                a(href="#")
            img(src="./img/car-list/car-5/car-list-5.png", alt="").car-list__auto
            img(src="./img/car-list/car-5/car-human-5.png", alt="").car-list__human
      
      //- div(style='height: 200px')
        
      // Order row
      .order-row
        .container
          
          .order-row__top
            .row
              .col-xs-9.col-sm-6
                .order-row__title Заказать автомобиль
              .col-xs-3.col-sm-6
                a(href="#").order-row__button
                  em.hidden-xs Развернуть фильтр
                  span.order-row__radio
              
          #order-row__bottom.order-row__bottom
            .order-row__form
              
              form(action="#")
                .row
                  .col-md-6
                    .order-row__select
                      select.styler
                        option(value="" selected) Выберите автомобиль
                        option(value="BMW 520") BMW 520
                        option(value="mercedes e 200") mercedes e 200
                        option(value="audi a 6") audi a 6
                        option(value="chevrolet camaro") chevrolet camaro
                        option(value="toyota land cruiser") toyota land cruiser
                        option(value="Porsche cayenne") Porsche cayenne
                      
                    .order-row__img
                      .order-row__bottom-title BMW 520
                      img(src="./tmp/cars/cars-1.png", alt="").img-responsive
                    
                  .col-md-6.col-order-right
                    
                    .row
                      .col-480-6.col-sm-6
                        label.label-control.label-control--big Представьтесь
                        .form-group
                          input(type="text" placeholder="Введите ФИО").form-control.form-control--light
                          
                      .col-480-6.col-sm-6
                        label.label-control.label-control--big Телефон
                        .form-group
                          input(type="text" placeholder="Введите актуальный телефон").form-control.form-control--light                          
                    
                    label.label-control.label-control--auto Выберите даты аренды
                    
                    .row
                      .col-480-6.col-sm-6
                        .form-group.form-group--dark.form-check-required.form-group--has-icon
                          .required-info Обязательное поле!
                          input(type="text" placeholder="Выдача авто").form-control.form-control--light
                          i.ion-android-calendar
                          
                      .col-480-6.col-sm-6
                        .form-group.form-group--dark.form-check-required.form-group--has-icon
                          .required-info Обязательное поле!
                          input(type="text" placeholder="Возврат авто").form-control.form-control--light
                          i.ion-android-calendar
                            
                    .row
                      .col-480-6.col-sm-6
                        
                        .form-group
                          .row
                            .col-lg-6
                              label.label-control.label-control--auto.label-control--auto-lg Количество дней
                              
                            .col-lg-6
                              .form-control.form-control--light.form-control--quantity
                                span.color.color--red: strong 2 
                                | дня
                        
                      .col-480-6.col-sm-6
                        
                        .form-group
                          .row
                            .col-lg-5
                              label.label-control.label-control--auto.label-control--auto-lg Цена в сутки
                              
                            .col-lg-7
                              .form-control.form-control--light.form-control--quantity.big
                                span.color.color--red: strong 2399 
                                | руб
        
                    .row
                      .col-lg-6
                        .form-checkbox__row.form-checkbox__row--dark.no-margin.form-check-required
                          .required-info Обязательное поле!
                          label.form-checkbox.form-checkbox--white
                            input(type="checkbox")
                            span
                            span.span: em Выезд за пределы Московской области +15%
                        
                        .auto__price.auto__price--white Общая сумма:
                          strong 7699
                          span руб
                        
                      .col-lg-6
                        button(type="submit").btn.btn--big-order-left.button-check-required Заказать авто
      
      // Carousel
      .order-carousel
        #order-carousel__body.order-carousel__body
          
          .order-carousel__block
            .popup__order
              div
                .popup__header
                  .h1 ПОПУЛЯРНЫЕ АВТОМОБИЛИ
                  
                .popup__order__img
                  img(src="./tmp/cars/cars-4-big.png", alt="").img-responsive
            
                .popup__order__info
                  div
                    h2 chevrolet camaro 
                    p
                      em Стоимость аренды: 
                      strong от 2700 руб./час
                      br
                      em Минимальный заказ: 
                      strong 5+1
                  
                  div
                    
                    .popup__order__form
                      div
                        button(type="submit").btn.btn--popup__order Быстрый заказ
            
                .popup__order__bottom
                  .auto__info
                    div 
                    
                      .table
                        div
                          svg#icon-auto-info-1.icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 13 15', width='13', height='15')
                            image(width='13', height='15', xlink:href='data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA EAMCAwYAAAGVAAABqwAAAgf/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIAA8ADQMBIgACEQEDEQH/ xACEAAEBAAAAAAAAAAAAAAAAAAADBgEBAQAAAAAAAAAAAAAAAAAABAUQAAEDBQEAAAAAAAAAAAAA AAEAAgQREhMUBRURAAECBAILAAAAAAAAAAAAAAECAwARMRIhFEFhgZEiMkITUwQFEgAABQUBAAAA AAAAAAAAAAAAARExEiFBcQIiMv/aAAwDAQACEQMRAAAAoCl2HY//2gAIAQIAAQUAyEr/2gAIAQMA AQUAEZrV/9oACAEBAAEFANuH1pWLg+sRQ3yLP//aAAgBAgIGPwBulVR//9oACAEDAgY/APRwPWMW Kt8j/9oACAEBAQY/AFK9t9tv57BKWmVrCC6vyKEwZDRHZBZymXuPGLC7fIY3VCYINRhgZjeIn0hF tByHZqrH/9k=', overflow='visible')
                        div
                          span.span Количество дв.
                          | 4 двери
                      
                    div 
                    
                      .table
                        div
                          svg#icon-auto-info-2.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 150 150', width='16', height='16')
                            g
                              path(d='M75 0C33.6 0 0 33.6 0 75s33.6 75 75 75 75-33.6 75-75S116.4 0 75 0zm0 133.4c-32.2 0-58.4-26.2-58.4-58.4S42.8 16.6 75 16.6s58.4 26.2 58.4 58.4-26.2 58.4-58.4 58.4zm0 0')
                              path(d='M110.3 48.2c-2.6 0-4.7 2.1-4.7 4.7v17.8H91.5V52.9c0-2.6-2.1-4.7-4.7-4.7s-4.7 2.1-4.7 4.7v17.8H67.9V52.9c0-2.6-2.1-4.7-4.7-4.7s-4.7 2.1-4.7 4.7v17.8H44.4V52.9c0-2.6-2.1-4.7-4.7-4.7S35 50.3 35 52.9v20.5c0 4.6 2.8 6.6 5.4 6.6h18.1v17c0 2.6 2.1 4.7 4.7 4.7s4.7-2.1 4.7-4.7V80H82v17c0 2.6 2.1 4.7 4.7 4.7s4.7-2.1 4.7-4.7V80h14.1v17c0 2.6 2.1 4.7 4.7 4.7s4.7-2.1 4.7-4.7V52.9c.1-2.6-2-4.7-4.6-4.7zm0 0')
                        div
                          span.span Коробка
                          | Автомат
                      
                    div 
                    
                      .table
                        div
                          svg#icon-auto-info-3.icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 120 150', width='11', height='14')
                            g#g5
                              g#g7(transform='scale(.9975 1.00402)')
                                defs#defs9
                                  path#SVGID_1_(d='M0 0h120.3v150H0z')
                                clippath#SVGID_2_
                                  use#use13(xlink:href='#SVGID_1_', width='100%', height='100%', overflow='visible')
                                path#path15.st0(d='M117.1 3.8c-2.3-2.4-5.4-3.8-8.8-3.8h-9.4C92 0 85.3 5.6 84.1 12.4l-.6 3.4c-.6 3.4.2 6.6 2.3 9.1 2.1 2.4 5.1 3.8 8.5 3.8h12.2c1.7 0 3.3-.3 4.8-.9l-1.3 11c-1.2-.5-2.6-.8-4-.8H92.1c-5.9 0-11.8 4.7-13 10.5l-12.3 57.8-57.9-4.2c-3.1-.2-5.7.8-7.4 2.9-1.5 1.9-2 4.6-1.2 7.4L7.1 139c1.5 5.7 7.5 10.4 13.4 10.4h74c6 0 11.4-4.9 12-10.8l9.5-89.5c.1-.5.1-1 0-1.5l3.3-27.8c.5-1.2.7-2.5.8-3.8l.2-3.1c.2-3.4-.9-6.7-3.2-9.1zm0 0', clip-path='url(#SVGID_2_)')
                        div
                          span.span Мест в салоне
                          | 5 мест
                          
                    div 
                    
                      .table
                        div
                          svg#icon-auto-info-4.icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 130 150', width='13', height='15')
                            style#style3.
                              .st0{clip-path:url(#SVGID_2_);}
                            g#g5
                              g#g7(transform='scale(1.00288 1.00334)')
                                defs#defs9
                                  path#SVGID_1_(d='M0 0h130v150H0z')
                                clippath#SVGID_2_
                                  use#use13(xlink:href='#SVGID_1_', width='100%', height='100%', overflow='visible')
                                path#path15.st0(d='M124.6 103.1c-11.4 0-20.6-13.1-20.6-29.3 0-16.2 9.3-29.3 20.6-29.3 1.8 0 3.5-1 4.4-2.6.9-1.6.8-3.5-.1-5.1l-13.5-22.2c-.8-1.3-2.2-2.2-3.7-2.4-1.5-.2-3 .3-4.1 1.4-4.7 4.7-12.4 4.7-17.1 0C88.2 11.3 87 8.3 87 5c0-2.8-2.2-5-5-5H47.7c-2.8 0-5 2.3-5 5 0 3.2-1.3 6.3-3.5 8.6-4.7 4.7-12.4 4.7-17.1 0-1.1-1.1-2.6-1.6-4.1-1.4-1.5.2-2.9 1.1-3.7 2.4L.7 36.9c-.9 1.6-1 3.5-.1 5.1.9 1.6 2.6 2.6 4.4 2.6 11.4 0 20.6 13.1 20.6 29.3 0 16.2-9.2 29.2-20.6 29.2-1.7 0-3.3.9-4.2 2.3-.9 1.4-1 3.3-.3 4.8L9 128.8c.9 2 3.1 3.2 5.3 2.9.4-.1 35.7-5.1 45.7 15 .8 1.7 2.5 2.7 4.4 2.8 1.9 0 3.6-1 4.4-2.7 10.8-20.5 46.2-16.5 46.5-16.5 2.1.3 4.1-.8 5.1-2.7l8.5-17.2c.8-1.6.7-3.4-.2-4.9-.8-1.5-2.4-2.4-4.1-2.4zm-56.3 13.6c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5v-2.3c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v2.3zm0-16.8c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5v-4.2c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v4.2zm0-18.9c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5v-4.2c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5V81zm0-18.8c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5V58c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v4.2zm0-18.8c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5v-4.2c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v4.2zm0-18.8c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5v-2.3c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v2.3zm0 0', clip-path='url(#SVGID_2_)')
                        div
                          span.span Салон
                          | кожанный

          .order-carousel__block 2
          .order-carousel__block 3
          .order-carousel__block 4
          .order-carousel__block 5
          .order-carousel__block 6
      
      // Rent terms
      .rent-terms
        //- #svg__background1.svg__background
          
        .container
          .terms
            
            .content__head.content__head--terms
              .h1 АРЕНДОВАТЬ АВТОМОБИЛЬ В «dinamika» ОЧЕНЬ ПРОСТО!
            
            .terms.row
              .col-480-6.col-sm-3
                .terms__block
                  .terms__img
                    img(src="./img/icon/icon-terms-1.png", alt="")
                  .terms__title ПОЗВОНИТЕ ИЛИ ЗАКАЖИТЕ ОНЛАЙН
                  
              .col-480-6.col-sm-3
                .terms__block
                  .terms__img
                    img(src="./img/icon/icon-terms-2.png", alt="")
                  .terms__title ПРЕДОСТАВЬТЕ ПАСПОРТ И ВОДИТЕЛЬСКИЕ ПРАВА
                  
              .col-480-6.col-sm-3
                .terms__block
                  .terms__img
                    img(src="./img/icon/icon-terms-3.png", alt="")
                  .terms__title ОПЛАТИТЕ ПРОКАТ АВТОМОБИЛЯ
                  
              .col-480-6.col-sm-3
                .terms__block
                  .terms__img
                    img(src="./img/icon/icon-terms-4.png", alt="")
                  .terms__title ПОЛУЧИТЕ АВТОМОБИЛЬ
                  
            
            p Арендовать машину в «DINAMIKA» - очень просто! В богатом автопарке нашей компании вы сможете выбрать тот автомобиль, который будет в полной мере соответствовать вашим представлениям о роскоши, качестве и комфорте. Тот, кто однажды обратился к нам за подобной услугой, уже не ищет других, поскольку предлагаемые нами условия способны удовлетворить даже самого требовательного клиента.
      
      // News
      .main-news
        .container
          
          .main-news__body
          
            .content__head
              .h1 Новости компании
            
            .main-news__row.row
              .col-md-4.col-sm-6
                
                .main-news__block
                  .main-news__block__shadow
                  .main-news__block__body
                    .main-news__img
                      img(src="./tmp/news/news-list-1.png", alt="").img-responsive
                    .main-news__text
                      .main-news__title Получить машину можно через приложение
                      p Автопрокатная компания DINAMIKA  вновь удивила своих постоянных клиентов, выпустив уникальное приложение для IOS и Android...
                    a(href="javascript:void(0)")
          
              .col-md-4.col-sm-6
                
                .main-news__block
                  .main-news__block__shadow
                  .main-news__block__body
                    .main-news__img
                      img(src="./tmp/news/news-list-2.png", alt="").img-responsive
                    .main-news__text
                      .main-news__title Аренда авто на свадьбу
                      p Автопрокатная компания DINAMIKA  вновь удивила своих постоянных клиентов, выпустив уникальное приложение для IOS и Android...
                    a(href="javascript:void(0)")
          
              .col-md-4.col-sm-4.hidden-xs.hidden-sm
                
                .main-news__block
                  .main-news__block__shadow
                  .main-news__block__body
                    .main-news__img
                      img(src="./tmp/news/news-list-3.png", alt="").img-responsive
                    .main-news__text
                      .main-news__title Получить машину можно через приложение
                      p Автопрокатная компания DINAMIKA  вновь удивила своих постоянных клиентов, выпустив уникальное приложение для IOS и Android...
                    a(href="javascript:void(0)")
            
            
            .all-news
              a(href="#") все новости
        
      // About
      .main-about
        #svg__background2.svg__background
          
        .container
          
          .main-about__body
            
            .content__head.content__head--main-about
              .h1 о компании
            
            p О личном автомобиле мечтает каждый. Однако не всегда есть возможность его приобрести. В этом случае полезной может стать услуга - аренда машины. Сегодня к услугам компаний, предлагающих прокат автомобилей, обращаются сотни жителей и гостей столицы. Аренда автомобилей – это не просто шанс передвигаться по городу на собственном автомобиле, это возможность продемонстрировать свой статус. Вы можете произвести впечатление на любимую девушку, прокатив ее на машине премиального класса, удивить друзей, и, наконец, ощутить чувство свободы и независимости, которые дарит управление автомобилем.
            
            .main-about__row.row
              .col-480-6.col-sm-6.col-md-3
                .main-about__block
                  div
                    img(src="./img/icon/icon-about-1.svg", alt="")
                  div
                    p ВСЕ АВТО 
                      br
                      | ЗАСТРАХОВАНЫ
                      
              .col-480-6.col-sm-6.col-md-3
                .main-about__block
                  div
                    img(src="./img/icon/icon-about-3.svg", alt="")
                  div
                    p ДОСТАВИМ 
                      br
                      | МАШИНУ САМ
                      
              .col-480-6.col-sm-6.col-md-3
                .main-about__block
                  div
                    img(src="./img/icon/icon-about-2.svg", alt="")
                  div
                    p ОФОРМЛЕНИЕ 
                      br
                      | 15 МИНУТ
                
              .col-480-6.col-sm-6.col-md-3
                .main-about__block
                  div
                    img(src="./img/icon/icon-about-4.svg", alt="")
                  div
                    p ПРОКАТ БЕЗ ЗАЛОГА
            
            img(src="./tmp/main-about.png", alt="").img--main-about
        
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Vendor.js
       Modernizr v2.8.3
       Plugins-scroll
    script(src='./js/libs/vendor.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
    include ./_include/_js-body-bottom
