//- Стоимость аренды
doctype

html(lang="ru")
  
  -var active = 'Услуги' //активный пункт меню, список в header.jade
  -var pageTitle = 'Услуги' + ' - Dinamika' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Breadcrumbs
    .breadcrumbs
      .container
        ol.breadcrumb
          li
            a(href='#')
              i.ion-ios-home
          li.active Стоимость аренды
      
    // Content
    .content
      
      .content__top(style="background-image: url('./tmp/background/rent-price.jpg')")
        div
          .container
            .content__head.content__head--top
              .h1 Услуги
            
            .hidden-xs
              p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
      
      .content__body
        .container
          
          .content__head
            h1 Цены
          
        // Prices
        .prices
          .container
            
            .row
              .col-md-6
                
                .prices__header
                  h2 Аренда без водителя
                
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-1.png", alt="").prices__img.img-responsive
                      .prices__title BMW 520
                    div
                      .price 1 100 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-2.png", alt="").prices__img.img-responsive
                      .prices__title mercedes e 200
                    div
                      .price 2 100 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-3.png", alt="").prices__img.img-responsive
                      .prices__title audi a 6
                    div
                      .price 3 100 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-4.png", alt="").prices__img.img-responsive
                      .prices__title chevrolet camaro
                    div
                      .price 4 100 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-5.png", alt="").prices__img.img-responsive
                      .prices__title toyota land cruiser
                    div
                      .price 5 100 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-6.png", alt="").prices__img.img-responsive
                      .prices__title Porsche cayenne
                    div
                      .price 6 100 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
              .col-md-6
                
                .prices__header.prices__header--last
                  h2 Аренда с водителем
                
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-1.png", alt="").prices__img.img-responsive
                      .prices__title BMW 520
                    div
                      .price 1 999 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-2.png", alt="").prices__img.img-responsive
                      .prices__title mercedes e 200
                    div
                      .price 2 999 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-3.png", alt="").prices__img.img-responsive
                      .prices__title audi a 6
                    div
                      .price 3 999 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-4.png", alt="").prices__img.img-responsive
                      .prices__title chevrolet camaro
                    div
                      .price 4 999 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-5.png", alt="").prices__img.img-responsive
                      .prices__title toyota land cruiser
                    div
                      .price 5 999 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать
                  
                .prices__block
                  .prices__block__body
                    div
                      img(src="./tmp/cars/cars-6.png", alt="").prices__img.img-responsive
                      .prices__title Porsche cayenne
                    div
                      .price 6 999 
                      p 
                        em Стоимость аренды: 
                        strong от 2700 руб./час
                        br
                        em Минимальный заказ: 
                        strong 5+1
                  .link
                    a(href="javascript:void(0)").btn.btn--prices Заказать

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Vendor.js
       Modernizr v2.8.3
       Plugins-scroll
    script(src='./js/libs/vendor.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
    include ./_include/_js-body-bottom
