//- Аренда авто
doctype

html(lang="ru")
  
  -var active = 'Автопарк' //активный пункт меню, список в header.jade
  -var pageTitle = 'Автопарк' + ' - Dinamika' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Breadcrumbs
    .breadcrumbs
      .container
        ol.breadcrumb
          li
            a(href='#')
              i.ion-ios-home
          li
            a(href='#') Автопарк 
          li.active BMW 520
      
    // Content
    .content
      
      .content__top(style="background-image: url('./tmp/background/rent-auto.jpg')")
        div
          .container
            .content__head.content__head--top
              .h1 АРЕНДА BMW 520
            
            .hidden-xs
              p DINAMIKA предлагает в прокат БМВ 5 серии – это роскошные и красивые авто, которые вы можете арендовать на любой срок. Мы рекомендуем эту машину и для частных поездок, и для решения вопросов с корпоративным трансфером. Сидеть за рулем данного автомобиля – одно удовольствие, и если вы еще не были владельцем роскошной модели 520, то после аренды BMW 5 уверены, что вам захочется иметь ее в своем автопарке. Трудно найти водителя, который бы не оценил все преимущества этой машины, сошедшей с конвейера известного немецкого концерна.
              
      // Content auto
      .content__auto
        .container
          
          .auto__body
            form(action="#")
              .row
                .col-md-6
                  
                  .auto__img
                    img(src="./tmp/cars/cars-1.png", alt="").img-responsive
                      
                  include ./_include/auto-info
                  
                .col-md-6
                  
                  .auto__title
                    h2 ПРОКАТ АВТОМОБИЛЯ BMW 520
                  
                  label.label-control.label-control--auto Выберите даты аренды
                  
                  .row
                    .col-480-6.col-sm-6
                      .form-group.form-check-required.form-group--has-icon
                        .required-info Обязательное поле!
                        input(type="text" placeholder="Выдача авто" data-auto-close=`true`).form-control.form-control--light.datepicker-here
                        i.ion-android-calendar
                        
                    .col-480-6.col-sm-6
                      .form-group.form-check-required.form-group--has-icon
                        .required-info Обязательное поле!
                        input(type="text" placeholder="Возврат авто" data-auto-close=`true`).form-control.form-control--light.datepicker-here
                        i.ion-android-calendar
                        
                  .row
                    .col-480-6.col-sm-6
                      
                      .form-group
                        .row
                          .col-lg-6
                            label.label-control.label-control--auto.label-control--auto-lg Количество дней
                            
                          .col-lg-6
                            .form-control.form-control--light.form-control--quantity
                              span.color.color--red: strong 2 
                              | дня
                      
                    .col-480-6.col-sm-6
                      
                      .form-group
                        .row
                          .col-lg-5
                            label.label-control.label-control--auto.label-control--auto-lg Цена в сутки
                            
                          .col-lg-7
                            .form-control.form-control--light.form-control--quantity.big
                              span.color.color--red: strong 2399 
                              | руб
                        
                  .form-checkbox__row.form-check-required
                    .required-info Обязательное поле!
                    label.form-checkbox
                      input(type="checkbox")
                      span
                      span.span: em Выезд за пределы Московской области +15%
                      
                  .auto__price Общая сумма:
                    strong 7699
                    span руб
                  
                  button(type="submit").btn.btn--big-order.button-check-required Заказать авто
      
      .content__body
        .container
          
          h4 АРЕНДА (ПРОКАТ) АВТОМОБИЛЯ BMW 520 В МОСКВЕ
          p Предлагает вам в прокат BMW в Москве с возможностью перемещаться не только по городу (внутри МКАД), но и за пределами столицы. Вы сможете выезжать в область и в другие регионы РФ, и это является весомым преимуществом нашей компании. Постоянным клиентам предоставляем особые условия для проката БМВ в Москве – убедитесь, что брать в аренду транспортные средства премиум-класса у нас выгодно.
          
          p: strong Преимущества проката и почему стоит выбрать именно роскошную 520 модель?
          ul.list
            li Все БМВ находятся в идеальном техническом состоянии;
            li Бюджетный расход топлива – всего 9 литров на 100 км;
            li Комфортный кожаный салон авто: безупречно чистый и презентабельный;
            li Очевидная финансовая выгода – предлагаем оптимальные расценки на прокат BMW в Москве;
            li Отсутствие ответственности – все авто застрахованы по ОСАГО и КАСКО;
            li Полная комплектация – наши машины оснащены парктрониками, двухзонным климат-контролем, подогревом сидений и зеркал и проч.;
            li Быстрая подача транспортного средства – вы получите чистое авто с заправленным баком сразу после подписания договора.
          
          p Аренда BMW в Москве – это правильный выбор тех, кто ценит комфорт и хочет получать максимум удовольствий от привычных поездок по городу. Мы рады предложить вам привлекательные условия для проката: услуги предоставляются и для физических лиц, и для организаций. Независимо от срока аренды мы обеспечиваем техническую поддержку и помогаем в решении любых вопросов, связанных с эксплуатацией авто.
          
          h4 BMW 520 – автомобиль, который может стать вашим уже сегодня.
          p Элитное авто в аренду под такси станет отличным решением для перспективной работы и комфортабельного перемещения. Автомобиль VIP-класса BMW 520 F10 A/T не затратное транспортное средство, ведь двухлитровый турбодвигатель потребляет всего 9 литров топлива на стандартный пробег в 100 км.
          
          p Вождение не станет утомительным, если речь идет о династии БМВ, представителем которого является BMW 520 F10 A/T. Внешние данные соответствуют начинке. Несмотря на презентабельность и высокую отметку в рейтинге аналогов, автомобиль немецкого качества снизит расходы на обслуживание, благодаря отменному качеству деталей и проработанной технологии.
          p Пятиместный седан оснащен передним и задним парктроником. Двухзонный климат-контроль, передние/задние электростеклоподъемники и кожаный салон обеспечат достойный комфорт водителю и его пассажирам. Спортивный характер лаконично вливается в элегантное оформление, что непременно в приоритете.
          p BMW 520 F10 A/T станет оптимальным решением, если нужна машина в аренду для такси или транспортное средство для отдыха и деловых встреч. Возможность прокатиться на динамичном и комфортабельном немце оказалась более, чем доступной. Приемлемые расценки на аренду автомобиля – это лишь самая малость эффективной продуктивности и драйверских качеств.
          p Благодаря функции Start/Stop водитель имеет возможность предотвратить излишний расход топлива на холостом ходу. Атлетические формы станут предметом вожделения очевидцев. Кроме финансовой выгоды водитель получит невообразимое удовольствие от комфортабельности салона, который преимущественно выполнен кожаной обивкой. Подогрев сидения согреет в холодную зиму, а мощный кондиционер создаст оптимальный микроклимат в салоне.
          p Аренда авто и прокат автомобиля BMW 520 (БМВ 520)

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Vendor.js
       Modernizr v2.8.3
       Plugins-scroll
    script(src='./js/libs/vendor.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
    include ./_include/_js-body-bottom
