// Footer js
link(rel="stylesheet", href="./js/libs/magnific-popup/magnific-popup.css")
link(rel="stylesheet", href="./js/libs/jQueryFormStyler-master/jquery.formstyler.css")
link(rel="stylesheet", href="./js/libs/owl.carousel.2.0.0-beta.2.4/assets/owl.carousel.css")
link(rel="stylesheet", href="./js/libs/air-datepicker/dist/css/datepicker.min.css")
script(src='./js/libs/magnific-popup/jquery.magnific-popup.min.js')
script(src='./js/libs/jQueryFormStyler-master/jquery.formstyler.min.js')
script(src='./js/libs/owl.carousel.2.0.0-beta.2.4/owl.carousel.js')
script(src='./js/libs/air-datepicker/dist/js/datepicker.min.js')
  
