// Footer
footer.footer
  .container
    
    .footer__body
      div
        .footer__logo
          img(src="./img/footer-logo.png", alt="")
      div
        .copyright 2001-2016 Аренда автомобилей - DINAMIKA
      div
        .development create with 
          i.ion-heart 
          a(href="#") by piarme
  
