/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1339px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  /**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  /**/

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  /*Disable Animation on Mobile Devices*/
  .animated
    /*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  /**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

@media only screen and (min-width : 0px) and (max-width: 767px)

  .content
    &__head
      &--top
        padding: 0
        margin: 0 auto
        width: 90%
        .h1, h1
          padding: 0
          margin: 0
        &::after
          display: none
    &__top
      .container
        padding-left: 0
        padding-right: 0

  .navigation
    position: absolute
    z-index: 200
    width: 270px
    left: 50%
    margin-left: -135px
    background-color: $color-red
    padding: 5px
    top: 155px
    display: none
    opacity: 0
    animation: open 0.5s ease-in-out forwards
    &::before
      content: ''
      position: absolute
      top: -11px
      left: 50%
      transform: translateX(-50%)
      width: 0
      height: 0
      border-left: 11px solid transparent
      border-right: 11px solid transparent
      border-bottom: 11px solid $color-red
    &>ul
      border: 1px solid rgba($color-white, 0.5)
      padding: 10px 0
      &>li
        &>a, &>span
          padding: 0 25px
          height: 34px
          line-height: 34px
          &:hover
            color: $color-darkgray
        &.active
          &>a, &>span
            color: $color-darkgray
    &__row
      &.open
        .navigation
          display: block
          opacity: 1
        .btn--mobile
          color: $color-red
          strong
            color: $color-red

  .btn
    &--mobile
      display: block

  .contacts
    &__info
      &__body
        &>div
          &:not(:last-child)
            .contacts__block
              margin-bottom: 20px

@media only screen and (min-width : 0px) and (max-width: 991px)
  .autopark
    &__bottom
      &>.container
        width: auto
    &__block
      &>div
        max-width: 500px
        margin: 0 auto

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  .container
    width: 320px

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  .container
    width: 480px

  .header
    &__top
      font-size: rem(12)

  .pagination
    ul
      &>li
        &.prev, &.next
          width: auto
        &.prev
          float: left
        &.next
          float: right

  .form
    &-control
      &--quantity
        margin-left: inherit
    &-checkbox__row
      text-align: left
      // margin-top: 3px
      padding-left: 6px
      .required-info
        &::after
          left: 5px
      &--contacts
        margin-bottom: 0

  .btn
    &--contacts
      float: right
    &--big-order
      margin-left: auto
      margin-right: auto
      display: block

  .contacts__map
    padding-bottom: 620px

  .about
    margin-top: -475px
    margin-bottom: 45px
    &__block
      width: 210px
      height: 210px
      padding-top: 35px
      font-size: rem(13)
      &::after
        top: 5px
        left: 5px
        right: 5px
        bottom: 5px
      img
        max-height: 95px

  .content
    &__top
      &--about
        padding-bottom: 470px

  .prices
    &__block
      text-align: left
      &__body
        display: table
        width: 100%
        margin: 0 auto
        max-width: 530px
        &>div
          display: table-cell
          vertical-align: middle
          height: 125px
          &:last-child
            text-align: right
    &__img
      margin: 0
    &__header
      &--last
        margin-top: 50px

  .auto
    &__info
      margin-left: auto
      margin-right: auto
      &>div
        width: 25%
        padding-left: 0 !important
        text-align: center
        &:nth-child(2)
          border-right: 1px solid $color-lightgray

    &__title
      text-align: left
    &__price
      text-align: left

  .label-control--auto
    text-align: left

  .autopark
    &__block
      text-align: left
      padding-left: 15px
      padding-right: 15px
      .auto__info
        max-width: inherit
    &__info
      display: table
      width: 100%
      &>div
        display: table-cell
        vertical-align: top
        &:last-child
          text-align: right

  .popup
    &__order
      text-align: left
      padding-bottom: 60px
      &__info
        display: table
        width: 100%
        &>div
          display: table-cell
          vertical-align: top

      &__form
        float: right
      &__bottom
        .auto__info
          max-width: inherit
          padding: 4px 0
          &>div
            border-bottom-color: transparent
            &:nth-child(2)
              border-right-color: #dadada
          .table
            margin: 0 auto

  .main-about
    &__block
      font-size: rem(13)
      img
        max-width: inherit
        max-height: 60px

  .main-news
    &__img
      img
        max-height: 154px
    &__title
      height: 44px
    &__block
      &__body
        height: 210px
      &:hover
        .main-news__text
          transform: translateY(138px)

  .autopark__select
    .span--car
      display: inline-block !important
    .span--checkbox
      width: 72px
      padding-left: 12px

@media (min-width: 480px) and (max-width: 767px)
  .col
    &-480-5, &-480-6, &-480-7
      width: 41.66666667%
      float: left
    &-480-6
      width: 50%
    &-480-7
      width: 58.33333333%

  .car-list
    &__block
      height: 365px
    &__auto
      max-height: 254px
    &__smoke
      width: 190px
      bottom: 232px
      left: 160px
    &__human
      max-height: 90%
      left: 25px

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

  .footer
    min-height: inherit
    height: 76px
    &__body
      display: flex
      height: 76px
      align-items: center
      &>div
        margin: 0
        &:first-child
          order: 2
          min-width: 280px
        &:nth-child(2)
          order: 1
          text-align: right
          width: calc(100% - 280px / 2)
          padding-right: 15px
        &:last-child
          order: 3
          text-align: left
          width: calc(100% - 280px / 2)
          padding-left: 15px
          margin-bottom: 0
    &__logo
      margin: -46px auto 0 auto

  .header
    height: 138px
    &__top
      height: 48px
    &__phone
      float: right
    &__mail
      display: block
    &__logo
      top: 18px

  .navigation
    &>ul
      text-align: center
      font-size: rem(15)
      &>li
        display: inline-block
        &>a, &>span
          padding: 0 12px
          &:hover
            color: $color-red
        &.active
          &>a,&>span
            color: $color-red

  .contacts
    &__info
      padding-top: 20px
      padding-bottom: 20px
      &__body
        max-width: inherit
        display: table
        width: 100%
        &>div
          display: table-cell
          height: 104px
          vertical-align: middle
          width: 33.3%
          &:not(:first-child)
            border-left: 1px solid $color-white
    &__block
      margin: 0 auto
    &__map
      padding-bottom: 650px
    &__logo
      max-width: 277px
      margin-top: 80px

  .form
    &__body
      margin-left: auto
      margin-right: auto
      margin-top: 235px
      padding-left: 27px
      padding-right: 27px

  .content
    &__top
      &--about
        padding-bottom: 200px

  .about
    margin-top: -195px
    margin-bottom: 70px
    &__block
      width: 158px
      height: 158px
      padding-top: 25px
      font-size: rem(10)
      margin-bottom: 0 !important
      img
        max-height: 75px
        margin-bottom: 10px

  .popup
    &__header
      margin-bottom: 60px
      .h1, h1
        font-size: rem(35)

    &__order
      padding-bottom: 104px
      &__info
        font-size: rem(14)
        &>div
          vertical-align: middle
      &__bottom
        .auto__info
          padding: 8px
          .icon
            margin-right: 10px
          &>div
            height: 50px
            line-height: inherit
            font-size: rem(12)
            padding-top: 9px

          .span
            display: block
            color: #636363
            font-size: rem(12)
            text-transform: none
            font-family: $font-dejavu-serif-book
            margin-bottom: 3px

          #icon-auto-info-1
            width: 22px
            height: 25px
          #icon-auto-info-2
            width: 30px
            height: 30px
          #icon-auto-info-3
            width: 24px
            height: 30px
          #icon-auto-info-4
            width: 26px
            height: 30px

  .form-group
    &--popup__order
      width: 276px
      max-width: inherit
      margin-bottom: 15px
      float: left
      .form-control
        height: 36px
        font-size: rem(14)

  .btn
    &--popup__order
      @include sprite($btn-right-big)
      font-size: rem(21)
      &:hover
        @include sprite($btn-right-big-hover)



  .car-list
    &__block
      width: 50%
      float: left
      height: 280px
      &--big
        width: 100%
        float: none
        height: 555px
        .car-list__auto
          max-height: 385px
        .car-list__human
          max-height: 95%
        .car-list__smoke
          width: 296px
          bottom: 374px
          left: 235px

    &__auto
      max-height: 195px
    &__human
      max-height: 90%

  .main-about
    &__row
      margin-top: 40px
      margin-bottom: 40px

  .main-news
    &__block
      margin-top: auto !important

  .all-news
    max-width: inherit

  .autopark
    &__select
      &__mobile
        display: none
      &__desctop
        display: block
        &__body
          ul > li > a
            padding-top: 34px
            svg
              height: 35px


@media (min-width : 768px) and (max-width: 991px)
  .contacts
    &__block
      &>div
        &:first-child
          display: none

  .contacts__block
    &>div:not(:first-child)
      padding-left: 0

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

  .footer
    &__body
      &>div
        &:nth-child(2)
          text-align: left
        &:last-child
          text-align: right

  .header
    height: 168px
    &__logo
      width: 256px
      margin-left: -128px
      top: 44px

  .navigation
    &>ul
      margin-left: -10px
      &>li
        &:nth-child(4)
          margin-left: 265px
    &__row
      margin: 0 auto

  .contacts
    &__block
      &>div
        padding: 0 10px !important
    &__map
      padding-bottom: 550px
    &__logo
      margin-top: 180px

  .form
    &__body
      margin-top: 135px
      padding-bottom: 35px
      max-width: inherit
    &-checkbox [type=checkbox] + span
      margin-right: 10px

  .about
    margin-top: -215px
    margin-bottom: 70px
    &__block
      width: 213px
      height: 213px
      padding-top: 35px
      font-size: rem(12)
      img
        max-height: 100px
        margin-bottom: 15px

  .prices
    &__header
      text-align: left
      &--last
        margin-top: 0
    &__block
      padding-top: 7px
      padding-bottom: 7px
      &__body
        max-width: inherit

  .auto
    &__body
      max-width: inherit
    &__img
      max-width: 380px
      margin-left: inherit

  .autopark
    &__block
      margin: 0
    &__img
      img
        max-height: 200px

  .form-group--popup__order
    margin-bottom: 0
    width: 263px
    float: none
    .form-control
      width: 263px
      height: 70px
      line-height: 70px
      font-size: rem(16)
      padding-left: 20px
      padding-right: 20px

  .popup
    &__order
      padding-bottom: 126px
      &__form
        padding-top: 0
        display: table
        width: 100%
        float: none
        &>div
          display: table-cell
          vertical-align: middle
      &__bottom
        .auto__info
          padding-top: 12px
          padding-bottom: 12px
      &__img
        img
          max-width: 850px

  .btn--popup__order
    float: right

  .car-list
    &>div
      width: 50%
      float: left
    &__block
      height: 181px
      &--big
        height: 362px
        .car-list__auto
          max-height: 255px
        .car-list__smoke
          width: 192px
          bottom: 246px
          left: 158px
    &__auto
      max-height: 115px
    &__title
      &__top
        width: 180px
        height: 40px
        font-size: rem(15)
        padding-top: 7px
        span
          font-size: rem(8)
        &::after
          border-top-width: 40px
          border-left-width: 18px
          left: -18px

  .main-about
    &__block
      font-size: rem(15)
      img
        max-height: 65px

  .main-news
    &__img
      img
        max-height: 133px
    &__block
      &:hover
        .main-news__text
          transform: translateY(128px)

  .autopark
    &__select
      &__desctop
        &__body
          &> div:first-child
            width: 118px
          ul > li > a
            padding-top: 34px
            svg
              height: 35px

  .col-order-right
    padding-top: 3px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

  .navigation
    &>ul
      &>li
        &:nth-child(4)
          margin-left: 315px

  .form
    &__body
      padding: 40px 48px 35px

  .btn
    &--contacts
      margin-right: -10px
    &--big-order
      margin-left: inherit
    &--big-order-left
      margin-left: -20px

  .about
    margin-top: -215px
    margin-bottom: 70px
    &__block
      width: 263px
      height: 263px
      padding-top: 45px
      font-size: rem(15)
      &::after
        left: 7px
        top: 7px
        right: 7px
        bottom: 7px
      img
        max-height: 125px
        margin-bottom: 25px

  .content
    &__top
      &--about
        padding-bottom: 240px

  .auto
    &__img
      max-width: 485px
      img
        max-width: inherit
    &__info
      max-width: 485px

  .label
    &-control
      &--auto-lg
        margin-right: -15px
        white-space: nowrap
        margin-top: 5px

  .car-list
    &__block
      height: 360px
      &--big
        height: 720px
        .car-list__auto
          max-height: 505px
        .car-list__smoke
          width: auto
          bottom: 489px
          left: 376px
        .car-list__human
          left: 90px
    &__auto
      max-height: 255px
    &__title
      &__top
        width: 230px
        height: 52px
        font-size: rem(18)
        padding-top: 10px
        span
          font-size: rem(10)
        &::after
          border-top-width: 52px
          border-left-width: 24px
          left: -24px
      &__bottom
        padding: 35px 25px
        &::after
          bottom: -46px
          @include triangle(230px 46px, $color-red, up-right)
        ul
          &>li
            &:not(:first-child)
              padding-top: 5px

  .main-news
    &__body
      padding-left: 15px
      padding-right: 15px
    &__block
      max-width: inherit
      &:hover
        .main-news__text
          transform: translateY(150px)
      &__body
        height: 225px
        &::before
          background-image: url('../img/news-corner2.png')
          top: -1px
      &__shadow
        position: absolute
        right: 3px
        bottom: -2px
        width: 100%
        height: 100%
        transform: rotate(4deg)
    &__img
      left: 4px
      top: 4px
      right: 4px
      img
        max-height: 162px

  .autopark
    &__select
      margin-left: -15px
      margin-right: -15px
      &__desctop
        &__body
          &>div:first-child
            width: 143px

  .order-row
    &__bottom
      padding-bottom: 50px
